@using Telerik.Blazor.Components;
<div class="@(Get_24444c8d_9880_47ce_90e0_a2440c3cf87b_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
	</tr>
</table>
<div class="@(Get_cc2c23f4_79d6_46ef_a175_bd1db44eb7fe_Class())">
	<button>
		This is a test button! 
	</button>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _1a9848c3_e7e1_486e_aae0_fc17746a68fa_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _4ddcf160_83a9_44cb_aa8a_4b509aed5c7e_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_a122d9cc_3186_44cd_bafe_d5316ae01a97_Text())
</a>
<div class="@(Get_b95bafb0_22cd_4ee5_b70d_16316ceb16dc_Class())">
	<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8a30d67e_10cf_44e9_86b7_bdc98f6e9408_GridOnRead"> 
		<GridColumns> 
			<GridColumn Field="Item1" Title="TestColumn1"/> 
			<GridColumn Field="Item2" Title="TestColumn2"/> 
		</GridColumns> 
	</TelerikGrid> 
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _dde3ef00_e209_4182_824d_7371f553899e_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _dde3ef00_e209_4182_824d_7371f553899e_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _dde3ef00_e209_4182_824d_7371f553899e_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _dde3ef00_e209_4182_824d_7371f553899e_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _dde3ef00_e209_4182_824d_7371f553899e_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _dde3ef00_e209_4182_824d_7371f553899e_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _dde3ef00_e209_4182_824d_7371f553899e_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _dde3ef00_e209_4182_824d_7371f553899e_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
@code { 

	private string Get_24444c8d_9880_47ce_90e0_a2440c3cf87b_Class()
	{
		return "alert alert-info";
	}
	private string Get_cc2c23f4_79d6_46ef_a175_bd1db44eb7fe_Class()
	{
		return "alert alert-info";
	}
	private void _b7c027de_5e48_4e11_bf1f_e5689a031f34_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _1a9848c3_e7e1_486e_aae0_fc17746a68fa_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _4ddcf160_83a9_44cb_aa8a_4b509aed5c7e_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_a122d9cc_3186_44cd_bafe_d5316ae01a97_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _8a30d67e_10cf_44e9_86b7_bdc98f6e9408_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_b95bafb0_22cd_4ee5_b70d_16316ceb16dc_Class()
	{
		return "alert alert-info";
	}
	private string _dde3ef00_e209_4182_824d_7371f553899e_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
