@using Telerik.Blazor.Components;
<div class="@(Get_f1880749_e3af_42ed_afc4_b0cbcf153024_Class())">
	<button>
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _349e2e4a_0b2f_4237_b703_1441a1189ce2_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip1Data = _349e2e4a_0b2f_4237_b703_1441a1189ce2_GetTabStripData(); }
				@tabStrip1Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</button>
</div>
<a href="#">
	@(GetAnchor_4d6dbd39_6110_4377_9381_8ec9b62cf55e_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _df713b8a_495a_4f67_bf84_bcd27350257f_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _df713b8a_495a_4f67_bf84_bcd27350257f_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _df713b8a_495a_4f67_bf84_bcd27350257f_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_2b8fea90_9b82_4d6a_bee4_7018dffcbf1e_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
	</tr>
</table>
@code { 

	private string _349e2e4a_0b2f_4237_b703_1441a1189ce2_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_f1880749_e3af_42ed_afc4_b0cbcf153024_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_4d6dbd39_6110_4377_9381_8ec9b62cf55e_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _df713b8a_495a_4f67_bf84_bcd27350257f_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _2b8fea90_9b82_4d6a_bee4_7018dffcbf1e_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
