@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _c7cd4541_47c9_4230_abb4_6758891db1e9_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _c7cd4541_47c9_4230_abb4_6758891db1e9_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _5b61cdda_59bd_47e1_90e6_980c3ec6b504_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _5b61cdda_59bd_47e1_90e6_980c3ec6b504_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		<a href="#">
			@(GetAnchor_a839b293_1838_4d62_ae84_e9e5bf2b6601_Text())
		</a>
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _5b61cdda_59bd_47e1_90e6_980c3ec6b504_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _5b61cdda_59bd_47e1_90e6_980c3ec6b504_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_7eb35641_a1bf_422a_b1f1_c3a631735c73_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _fdfa8ee7_f255_46fb_8430_f3d60d6152b0_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _fdfa8ee7_f255_46fb_8430_f3d60d6152b0_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_74503fe5_9a8c_417d_ac5b_c53eed9d4a08_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _a7d7be8d_d54a_4cf1_81ca_7b13ca8946cc_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _a7d7be8d_d54a_4cf1_81ca_7b13ca8946cc_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _a7d7be8d_d54a_4cf1_81ca_7b13ca8946cc_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _a7d7be8d_d54a_4cf1_81ca_7b13ca8946cc_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string _c7cd4541_47c9_4230_abb4_6758891db1e9_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_a839b293_1838_4d62_ae84_e9e5bf2b6601_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _5b61cdda_59bd_47e1_90e6_980c3ec6b504_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_7eb35641_a1bf_422a_b1f1_c3a631735c73_Class()
	{
		return "alert alert-info";
	}
	private string _fdfa8ee7_f255_46fb_8430_f3d60d6152b0_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _61663bfc_a61c_41e6_b09a_cba148b51537_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _74503fe5_9a8c_417d_ac5b_c53eed9d4a08_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _a7d7be8d_d54a_4cf1_81ca_7b13ca8946cc_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
