@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<div class="@(Get_c461dd16_d1bd_454c_90cf_1dd5b55ab0e5_Class())">
	<p>This div is a test!</p>
</div>
@if (_6783947e_e69c_4b94_a6cc_8dab7232b1df_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _6783947e_e69c_4b94_a6cc_8dab7232b1df_buttonVisibilityTest = !_6783947e_e69c_4b94_a6cc_8dab7232b1df_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_ea993a96_e0e9_4e16_bc6a_93a6296af3ef_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			<div class="@(Get_4ea52a7f_fec3_459a_bace_4fe988308c0e_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_4ea52a7f_fec3_459a_bace_4fe988308c0e_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_4ea52a7f_fec3_459a_bace_4fe988308c0e_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
	</tr>
</table>
@code { 
	private bool _6783947e_e69c_4b94_a6cc_8dab7232b1df_buttonVisibilityTest;
	private string Get_c461dd16_d1bd_454c_90cf_1dd5b55ab0e5_Class()
	{
		return "alert alert-info";
	}
	private void _ea993a96_e0e9_4e16_bc6a_93a6296af3ef_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_4ea52a7f_fec3_459a_bace_4fe988308c0e_Class()
	{
		return "alert alert-info";
	}
} 
