@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			@if (_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest = !_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest"> 
					<a href="#">
						@(GetAnchor_d77eb6a7_16f1_4525_8c30_38c335508d43_Text())
					</a>
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest = !_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest"> 
					<a href="#">
						@(GetAnchor_d77eb6a7_16f1_4525_8c30_38c335508d43_Text())
					</a>
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest = !_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest"> 
					<a href="#">
						@(GetAnchor_d77eb6a7_16f1_4525_8c30_38c335508d43_Text())
					</a>
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest = !_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest"> 
					<a href="#">
						@(GetAnchor_d77eb6a7_16f1_4525_8c30_38c335508d43_Text())
					</a>
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest = !_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest"> 
					<a href="#">
						@(GetAnchor_d77eb6a7_16f1_4525_8c30_38c335508d43_Text())
					</a>
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest = !_813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest"> 
					<a href="#">
						@(GetAnchor_d77eb6a7_16f1_4525_8c30_38c335508d43_Text())
					</a>
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_3bfb3d3d_1997_49cb_aa15_1129eebbbebc_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _2468917a_57c1_4759_8f4d_d8e3f6e69c9b_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _2468917a_57c1_4759_8f4d_d8e3f6e69c9b_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _2468917a_57c1_4759_8f4d_d8e3f6e69c9b_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_3bb2fa3d_318d_4b34_a8fa_18ce3167e2e8_Class())">
	<p>This div is a test!</p>
</div>
@if (_b30a5add_7c89_4181_ba2a_fc82e6bb2550_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _b30a5add_7c89_4181_ba2a_fc82e6bb2550_buttonVisibilityTest = !_b30a5add_7c89_4181_ba2a_fc82e6bb2550_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_3f6906bf_d471_460f_b347_22fb0b28824b_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _3f6906bf_d471_460f_b347_22fb0b28824b_buttonVisibilityTest = !_3f6906bf_d471_460f_b347_22fb0b28824b_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _ad3e4e1b_1cf4_4d84_87f0_454d0bc1803e_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_24c08469_42f2_44ad_8a8f_58018c2adc66_Text())
</a>
@code { 
	private bool _813e6687_ecb7_4e9c_bd38_2bc43cc1441b_buttonVisibilityTest;
	private bool _b30a5add_7c89_4181_ba2a_fc82e6bb2550_buttonVisibilityTest;
	private bool _3f6906bf_d471_460f_b347_22fb0b28824b_buttonVisibilityTest;
	private string GetAnchor_d77eb6a7_16f1_4525_8c30_38c335508d43_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _3bfb3d3d_1997_49cb_aa15_1129eebbbebc_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _2468917a_57c1_4759_8f4d_d8e3f6e69c9b_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_3bb2fa3d_318d_4b34_a8fa_18ce3167e2e8_Class()
	{
		return "alert alert-info";
	}
	private string _ad3e4e1b_1cf4_4d84_87f0_454d0bc1803e_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_24c08469_42f2_44ad_8a8f_58018c2adc66_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
