@using Telerik.Blazor.Components;
@if (_3c5bb203_cf5e_4bb5_81af_5d0af61938f0_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _3c5bb203_cf5e_4bb5_81af_5d0af61938f0_buttonVisibilityTest = !_3c5bb203_cf5e_4bb5_81af_5d0af61938f0_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_830b0677_92c7_4c51_bae7_01a3874358cd_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _830b0677_92c7_4c51_bae7_01a3874358cd_buttonVisibilityTest = !_830b0677_92c7_4c51_bae7_01a3874358cd_buttonVisibilityTest"> 
		<button>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
				</tr>
			</table>
		</button>
	</TelerikButton> 
}
<div class="@(Get_ce2e59aa_f44f_4228_a40c_98f9838fd53c_Class())">
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
		</tr>
		<tr>
			<td>
				Col1Row1
			</td>
			<td>
				Col2Row1
			</td>
			<td>
				Col1Row2
			</td>
			<td>
				Col2Row2
			</td>
		</tr>
	</table>
</div>
@if (_673a6393_50c2_483f_9b79_f7d6994df934_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _673a6393_50c2_483f_9b79_f7d6994df934_buttonVisibilityTest = !_673a6393_50c2_483f_9b79_f7d6994df934_buttonVisibilityTest"> 
		<div class="@(Get_09cadb51_e83b_4b48_8924_0fcacccf80ad_Class())">
			<p>This div is a test!</p>
		</div>
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_ef2ece19_26f6_4801_893f_36da17372d40_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@if (_38030810_15fc_4141_82fc_2cb14496be5e_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _38030810_15fc_4141_82fc_2cb14496be5e_buttonVisibilityTest = !_38030810_15fc_4141_82fc_2cb14496be5e_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_4220c840_5543_49a4_9516_a954dede4b47_Text())
</a>
@code { 
	private bool _3c5bb203_cf5e_4bb5_81af_5d0af61938f0_buttonVisibilityTest;
	private bool _830b0677_92c7_4c51_bae7_01a3874358cd_buttonVisibilityTest;
	private bool _673a6393_50c2_483f_9b79_f7d6994df934_buttonVisibilityTest;
	private bool _38030810_15fc_4141_82fc_2cb14496be5e_buttonVisibilityTest;
	private string Get_ce2e59aa_f44f_4228_a40c_98f9838fd53c_Class()
	{
		return "alert alert-info";
	}
	private string Get_09cadb51_e83b_4b48_8924_0fcacccf80ad_Class()
	{
		return "alert alert-info";
	}
	private void _ef2ece19_26f6_4801_893f_36da17372d40_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _77edb69e_4fc8_495f_ad67_9c23971d42d7_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_4220c840_5543_49a4_9516_a954dede4b47_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
