@using Telerik.Blazor.Components;
@if (_e47045bf_b4ce_4edc_b984_7102327e7b8f_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _e47045bf_b4ce_4edc_b984_7102327e7b8f_buttonVisibilityTest = !_e47045bf_b4ce_4edc_b984_7102327e7b8f_buttonVisibilityTest"> 
		<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_ead77fd2_5797_47d3_9e1e_27f4b02f8fed_GridOnRead"> 
			<GridColumns> 
				<button>
					This is a test button! 
				</button>
			</GridColumns> 
		</TelerikGrid> 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
		<td>
			Col5Row5
		</td>
	</tr>
</table>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_b9af4885_0fe0_492a_b286_e594bb1ca267_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<button>
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _d36882bf_a09b_4287_aee9_23094b567d87_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip1Data = _d36882bf_a09b_4287_aee9_23094b567d87_GetTabStripData(); }
			@tabStrip1Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip2Data = _d36882bf_a09b_4287_aee9_23094b567d87_GetTabStripData(); }
			@tabStrip2Data
		</TabStripTab> 
	</TelerikTabStrip> 
</button>
<div class="@(Get_5a5f6c4d_f9b4_4268_a08f_79d7683ac4de_Class())">
	<p>This div is a test!</p>
</div>
@if (_6a84e608_75ec_477f_a2b6_fd6e605e1cda_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _6a84e608_75ec_477f_a2b6_fd6e605e1cda_buttonVisibilityTest = !_6a84e608_75ec_477f_a2b6_fd6e605e1cda_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _e47045bf_b4ce_4edc_b984_7102327e7b8f_buttonVisibilityTest;
	private bool _6a84e608_75ec_477f_a2b6_fd6e605e1cda_buttonVisibilityTest;
	private void _ead77fd2_5797_47d3_9e1e_27f4b02f8fed_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _b9af4885_0fe0_492a_b286_e594bb1ca267_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _d36882bf_a09b_4287_aee9_23094b567d87_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_5a5f6c4d_f9b4_4268_a08f_79d7683ac4de_Class()
	{
		return "alert alert-info";
	}
} 
