@using Telerik.Blazor.Components;
@if (_1dabb00b_f4d2_46fd_b26a_e14f71090fb7_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _1dabb00b_f4d2_46fd_b26a_e14f71090fb7_buttonVisibilityTest = !_1dabb00b_f4d2_46fd_b26a_e14f71090fb7_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_1e779880_5d37_49cd_8e14_8f2210da679f_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
	</tr>
</table>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_88b9f449_74e5_4df6_bf19_b63f6a0c4425_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<div class="@(Get_d8fad6ef_7bef_4e35_9508_050cadaee4b4_Class())">
	<p>This div is a test!</p>
</div>
@code { 
	private bool _1dabb00b_f4d2_46fd_b26a_e14f71090fb7_buttonVisibilityTest;
	private string GetAnchor_1e779880_5d37_49cd_8e14_8f2210da679f_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _88b9f449_74e5_4df6_bf19_b63f6a0c4425_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_d8fad6ef_7bef_4e35_9508_050cadaee4b4_Class()
	{
		return "alert alert-info";
	}
} 
