@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_4ec64f03_6cc5_4e77_a24b_63a496b33349_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<div class="@(Get_02ca2252_f16f_42c3_a303_c5ff6e5ff371_Class())">
	<p>This div is a test!</p>
</div>
<button>
	This is a test button! 
</button>
<a href="#">
	@(GetAnchor_f9061d10_16b8_41f6_890e_8c089d6a3691_Text())
</a>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_9373c029_8a28_4fc1_af14_51971b862ed5_GridOnRead"> 
	<GridColumns> 
		<button>
			This is a test button! 
		</button>
	</GridColumns> 
</TelerikGrid> 
@code { 

	private void _4ec64f03_6cc5_4e77_a24b_63a496b33349_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_02ca2252_f16f_42c3_a303_c5ff6e5ff371_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_f9061d10_16b8_41f6_890e_8c089d6a3691_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _9373c029_8a28_4fc1_af14_51971b862ed5_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
