@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_c7fab53d_59ce_4084_8a0e_2647b585da26_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<button>
	<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_bb292e76_9321_4d65_8538_2138e6519f37_GridOnRead"> 
		<GridColumns> 
			<GridColumn Field="Item1" Title="TestColumn1"/> 
			<GridColumn Field="Item2" Title="TestColumn2"/> 
		</GridColumns> 
	</TelerikGrid> 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
	</tr>
</table>
<div class="@(Get_e37fe04b_49bd_42bd_8d14_719a09164fc5_Class())">
	<p>This div is a test!</p>
</div>
@if (_6d7788fb_68ad_4648_bd4d_899bef13bd96_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _6d7788fb_68ad_4648_bd4d_899bef13bd96_buttonVisibilityTest = !_6d7788fb_68ad_4648_bd4d_899bef13bd96_buttonVisibilityTest"> 
		<button>
			This is a test button! 
		</button>
	</TelerikButton> 
}
@code { 
	private bool _6d7788fb_68ad_4648_bd4d_899bef13bd96_buttonVisibilityTest;
	private void _c7fab53d_59ce_4084_8a0e_2647b585da26_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _bb292e76_9321_4d65_8538_2138e6519f37_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_e37fe04b_49bd_42bd_8d14_719a09164fc5_Class()
	{
		return "alert alert-info";
	}
} 
