@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			<a href="#">
				@(GetAnchor_e88b1164_bf92_410c_9c6f_2e53f51be09c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_e88b1164_bf92_410c_9c6f_2e53f51be09c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_e88b1164_bf92_410c_9c6f_2e53f51be09c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_e88b1164_bf92_410c_9c6f_2e53f51be09c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_e88b1164_bf92_410c_9c6f_2e53f51be09c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_e88b1164_bf92_410c_9c6f_2e53f51be09c_Text())
			</a>
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _aa0829fd_7480_419c_bc74_1bc2516ee306_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _aa0829fd_7480_419c_bc74_1bc2516ee306_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _aa0829fd_7480_419c_bc74_1bc2516ee306_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _ca251259_6d75_42b3_9891_11d659eb006d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _ca251259_6d75_42b3_9891_11d659eb006d_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _46ed1248_1cf2_4008_9bd1_0ef198fdf123_buttonVisibilityTest;
	private string GetAnchor_e88b1164_bf92_410c_9c6f_2e53f51be09c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _50cf4cbf_aeae_44a1_a788_602a2e59e5a2_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _aa0829fd_7480_419c_bc74_1bc2516ee306_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _ca251259_6d75_42b3_9891_11d659eb006d_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
