@using Telerik.Blazor.Components;
<div class="@(Get_5120c492_aa94_419a_a624_4f867db4f49d_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
	</tr>
</table>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_4d5c11a7_9978_402a_8438_fa1f64b56020_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
	</tr>
</table>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_b357fa7f_6645_4695_998a_726a37a341c9_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<button>
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
			<th>
				Test Header 3
			</th>
			<th>
				Test Header 4
			</th>
		</tr>
		<tr>
			<td>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
						<th>
							Test Header 3
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col3Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
						<td>
							Col3Row2
						</td>
						<td>
							Col1Row3
						</td>
						<td>
							Col2Row3
						</td>
						<td>
							Col3Row3
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
						<th>
							Test Header 3
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col3Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
						<td>
							Col3Row2
						</td>
						<td>
							Col1Row3
						</td>
						<td>
							Col2Row3
						</td>
						<td>
							Col3Row3
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
						<th>
							Test Header 3
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col3Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
						<td>
							Col3Row2
						</td>
						<td>
							Col1Row3
						</td>
						<td>
							Col2Row3
						</td>
						<td>
							Col3Row3
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
						<th>
							Test Header 3
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col3Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
						<td>
							Col3Row2
						</td>
						<td>
							Col1Row3
						</td>
						<td>
							Col2Row3
						</td>
						<td>
							Col3Row3
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
						<th>
							Test Header 3
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col3Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
						<td>
							Col3Row2
						</td>
						<td>
							Col1Row3
						</td>
						<td>
							Col2Row3
						</td>
						<td>
							Col3Row3
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
						<th>
							Test Header 3
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col3Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
						<td>
							Col3Row2
						</td>
						<td>
							Col1Row3
						</td>
						<td>
							Col2Row3
						</td>
						<td>
							Col3Row3
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
						<th>
							Test Header 3
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col3Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
						<td>
							Col3Row2
						</td>
						<td>
							Col1Row3
						</td>
						<td>
							Col2Row3
						</td>
						<td>
							Col3Row3
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
						<th>
							Test Header 3
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col3Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
						<td>
							Col3Row2
						</td>
						<td>
							Col1Row3
						</td>
						<td>
							Col2Row3
						</td>
						<td>
							Col3Row3
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _a4f85b9f_8eb4_410b_8187_e0821566a770_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _a4f85b9f_8eb4_410b_8187_e0821566a770_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _a4f85b9f_8eb4_410b_8187_e0821566a770_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string Get_5120c492_aa94_419a_a624_4f867db4f49d_Class()
	{
		return "alert alert-info";
	}
	private void _4d5c11a7_9978_402a_8438_fa1f64b56020_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _b357fa7f_6645_4695_998a_726a37a341c9_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _a4f85b9f_8eb4_410b_8187_e0821566a770_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
