@using Telerik.Blazor.Components;
@if (_39420040_1799_479e_b8c2_b35e3c0dd6e1_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _39420040_1799_479e_b8c2_b35e3c0dd6e1_buttonVisibilityTest = !_39420040_1799_479e_b8c2_b35e3c0dd6e1_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
			<th>
				Test Header 3
			</th>
			<th>
				Test Header 4
			</th>
			<th>
				Test Header 5
			</th>
		</tr>
		<tr>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
			<td>
				<div class="@(Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class())">
					@if (_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest) 
					{
						<TelerikButton OnClick="() => _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest = !_0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest"> 
							This is a test button! 
						</TelerikButton> 
					}
				</div>
			</td>
		</tr>
	</table>
</button>
@if (_455d88ad_1825_43ec_8756_8b0dc68470f0_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _455d88ad_1825_43ec_8756_8b0dc68470f0_buttonVisibilityTest = !_455d88ad_1825_43ec_8756_8b0dc68470f0_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _39420040_1799_479e_b8c2_b35e3c0dd6e1_buttonVisibilityTest;
	private bool _0f8c3ff0_cb8e_439f_8591_ab2ced2617b0_buttonVisibilityTest;
	private bool _455d88ad_1825_43ec_8756_8b0dc68470f0_buttonVisibilityTest;
	private string Get_eeeb5989_6c49_42e6_aeb9_0d01a8e37ad4_Class()
	{
		return "alert alert-info";
	}
} 
