@using Telerik.Blazor.Components;
<div class="@(Get_12f5dfa7_961b_49a9_af8d_915297b81a47_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _c73084a7_19d4_4d27_b6af_f9bd9e17c978_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _c73084a7_19d4_4d27_b6af_f9bd9e17c978_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _c73084a7_19d4_4d27_b6af_f9bd9e17c978_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _c73084a7_19d4_4d27_b6af_f9bd9e17c978_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _c73084a7_19d4_4d27_b6af_f9bd9e17c978_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _22ae091f_816c_45c0_9705_e35a4ecc1fb3_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _22ae091f_816c_45c0_9705_e35a4ecc1fb3_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _22ae091f_816c_45c0_9705_e35a4ecc1fb3_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _22ae091f_816c_45c0_9705_e35a4ecc1fb3_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_38831424_d20a_4447_8c40_0dc65f71eed4_Text())
</a>
<a href="#">
	@(GetAnchor_41c80c69_3cff_4ca6_bcda_6a871a33d60c_Text())
</a>
<div class="@(Get_a12b190a_da8d_438f_a531_62bfd6d75bc9_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_c9764bcf_00cb_4ea4_9fe7_1fe227ea6d89_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string Get_12f5dfa7_961b_49a9_af8d_915297b81a47_Class()
	{
		return "alert alert-info";
	}
	private string _c73084a7_19d4_4d27_b6af_f9bd9e17c978_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _22ae091f_816c_45c0_9705_e35a4ecc1fb3_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_38831424_d20a_4447_8c40_0dc65f71eed4_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_41c80c69_3cff_4ca6_bcda_6a871a33d60c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_a12b190a_da8d_438f_a531_62bfd6d75bc9_Class()
	{
		return "alert alert-info";
	}
	private string Get_c9764bcf_00cb_4ea4_9fe7_1fe227ea6d89_Class()
	{
		return "alert alert-info";
	}
} 
