@using Telerik.Blazor.Components;
@if (_a8eae57a_a30d_45de_bc03_262846d17970_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _a8eae57a_a30d_45de_bc03_262846d17970_buttonVisibilityTest = !_a8eae57a_a30d_45de_bc03_262846d17970_buttonVisibilityTest"> 
		<a href="#">
			@(GetAnchor_60a8f39a_111b_4235_9347_054cd9c6361d_Text())
		</a>
	</TelerikButton> 
}
@if (_a70d5bed_584f_4b63_b6fd_156167da01bb_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _a70d5bed_584f_4b63_b6fd_156167da01bb_buttonVisibilityTest = !_a70d5bed_584f_4b63_b6fd_156167da01bb_buttonVisibilityTest"> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
				<th>
					Test Header 3
				</th>
			</tr>
			<tr>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
			</tr>
		</table>
	</TelerikButton> 
}
@if (_a00f7090_efad_4672_833a_87af5bcd219e_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _a00f7090_efad_4672_833a_87af5bcd219e_buttonVisibilityTest = !_a00f7090_efad_4672_833a_87af5bcd219e_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_3db3731d_d70d_4919_b442_e0768425437a_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _3db3731d_d70d_4919_b442_e0768425437a_buttonVisibilityTest = !_3db3731d_d70d_4919_b442_e0768425437a_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	<a href="#">
		@(GetAnchor_1be7169f_396b_4b84_bdc3_e67117c6cd1e_Text())
	</a>
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			<div class="@(Get_9b66db4f_9ad3_433b_b01c_a0c0dd5ea6df_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_9b66db4f_9ad3_433b_b01c_a0c0dd5ea6df_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_9b66db4f_9ad3_433b_b01c_a0c0dd5ea6df_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_9b66db4f_9ad3_433b_b01c_a0c0dd5ea6df_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_9b66db4f_9ad3_433b_b01c_a0c0dd5ea6df_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_9b66db4f_9ad3_433b_b01c_a0c0dd5ea6df_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_9b66db4f_9ad3_433b_b01c_a0c0dd5ea6df_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_9b66db4f_9ad3_433b_b01c_a0c0dd5ea6df_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
	</tr>
</table>
@code { 
	private bool _a8eae57a_a30d_45de_bc03_262846d17970_buttonVisibilityTest;
	private bool _a70d5bed_584f_4b63_b6fd_156167da01bb_buttonVisibilityTest;
	private bool _a00f7090_efad_4672_833a_87af5bcd219e_buttonVisibilityTest;
	private bool _3db3731d_d70d_4919_b442_e0768425437a_buttonVisibilityTest;
	private string GetAnchor_60a8f39a_111b_4235_9347_054cd9c6361d_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_3cf5a936_07e4_42b3_88cb_67cf76eca8ea_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_1be7169f_396b_4b84_bdc3_e67117c6cd1e_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_9b66db4f_9ad3_433b_b01c_a0c0dd5ea6df_Class()
	{
		return "alert alert-info";
	}
} 
