@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _ea888828_252d_4a87_9122_395d4a8b6f96_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _ea888828_252d_4a87_9122_395d4a8b6f96_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _ea888828_252d_4a87_9122_395d4a8b6f96_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
				<th>
					Test Header 3
				</th>
			</tr>
			<tr>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_2cfe8601_7226_499c_9178_389e272bfe40_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_b554911e_9578_41f1_9f01_c6f9a8757469_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _72aac3c8_5f1b_4a36_9a27_58b57315e1b9_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _72aac3c8_5f1b_4a36_9a27_58b57315e1b9_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _72aac3c8_5f1b_4a36_9a27_58b57315e1b9_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_9b754534_7b09_449d_a315_bfcbea23cac1_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
		<td>
			<div class="@(Get_f355852a_d345_408a_891e_f0ad4e853252_Class())">
				@if (_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest = !_832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest"> 
						This is a test button! 
					</TelerikButton> 
				}
			</div>
		</td>
	</tr>
</table>
@code { 
	private bool _832ca284_1927_4a22_988f_28672d91829a_buttonVisibilityTest;
	private string _ea888828_252d_4a87_9122_395d4a8b6f96_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _2cfe8601_7226_499c_9178_389e272bfe40_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _b554911e_9578_41f1_9f01_c6f9a8757469_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _72aac3c8_5f1b_4a36_9a27_58b57315e1b9_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_9b754534_7b09_449d_a315_bfcbea23cac1_Class()
	{
		return "alert alert-info";
	}
	private string Get_f355852a_d345_408a_891e_f0ad4e853252_Class()
	{
		return "alert alert-info";
	}
} 
