@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_a1ebf17c_bf89_4431_9d80_08a80822be1f_Text())
</a>
<div class="@(Get_693d8188_3fe8_459b_98ed_3d17cb324239_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
	</tr>
</table>
<div class="@(Get_97a7eab4_e3b6_4cee_a45c_ad6712d2e632_Class())">
	<p>This div is a test!</p>
</div>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_fb15ec2d_08b8_4ac1_9fdc_663497f7373c_GridOnRead"> 
	<GridColumns> 
		<a href="#">
			@(GetAnchor_1bda1333_7e5c_49e6_9793_7e79c5378e72_Text())
		</a>
	</GridColumns> 
</TelerikGrid> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _e5a23f6c_9e63_45a2_892f_d249343f0f44_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_19a221bc_3faf_4bc1_afbb_f1f6a2265e02_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _19a221bc_3faf_4bc1_afbb_f1f6a2265e02_buttonVisibilityTest = !_19a221bc_3faf_4bc1_afbb_f1f6a2265e02_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _77d54aa1_7c42_4200_8ef0_9d6ff48ff897_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _77d54aa1_7c42_4200_8ef0_9d6ff48ff897_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _77d54aa1_7c42_4200_8ef0_9d6ff48ff897_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _19a221bc_3faf_4bc1_afbb_f1f6a2265e02_buttonVisibilityTest;
	private string GetAnchor_a1ebf17c_bf89_4431_9d80_08a80822be1f_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_693d8188_3fe8_459b_98ed_3d17cb324239_Class()
	{
		return "alert alert-info";
	}
	private string Get_97a7eab4_e3b6_4cee_a45c_ad6712d2e632_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_1bda1333_7e5c_49e6_9793_7e79c5378e72_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _fb15ec2d_08b8_4ac1_9fdc_663497f7373c_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_5d8b4714_1993_4d1b_85bb_5a8cc4e2bb50_Class()
	{
		return "alert alert-info";
	}
	private string _e5a23f6c_9e63_45a2_892f_d249343f0f44_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _77d54aa1_7c42_4200_8ef0_9d6ff48ff897_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
