@using Telerik.Blazor.Components;
<div class="@(Get_8c865a67_e30f_46db_aaf9_909e553e1672_Class())">
	<div class="@(Get_f8c777c6_748e_4fd8_b3a6_d5303f88e491_Class())">
		<p>This div is a test!</p>
	</div>
</div>
@if (_80a7df97_077b_484f_9818_86164042da64_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _80a7df97_077b_484f_9818_86164042da64_buttonVisibilityTest = !_80a7df97_077b_484f_9818_86164042da64_buttonVisibilityTest"> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
			</tr>
			<tr>
				<td>
					<div class="@(Get_39cb46be_39cc_4d6b_b0ca_5c166d8870e7_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_39cb46be_39cc_4d6b_b0ca_5c166d8870e7_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
				<td>
					<div class="@(Get_39cb46be_39cc_4d6b_b0ca_5c166d8870e7_Class())">
						<p>This div is a test!</p>
					</div>
				</td>
			</tr>
		</table>
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
		<td>
			Col5Row5
		</td>
	</tr>
</table>
<button>
	<button>
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _97660140_e67f_4c23_bfd5_c2f519945c3d_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip1Data = _97660140_e67f_4c23_bfd5_c2f519945c3d_GetTabStripData(); }
				@tabStrip1Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</button>
</button>
@if (_c0b6f1a4_21a7_4809_be3f_dbb9d2ed5075_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _c0b6f1a4_21a7_4809_be3f_dbb9d2ed5075_buttonVisibilityTest = !_c0b6f1a4_21a7_4809_be3f_dbb9d2ed5075_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_d5c0a748_1abc_45b9_89a6_2d8e2dc3a3e4_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _d5c0a748_1abc_45b9_89a6_2d8e2dc3a3e4_buttonVisibilityTest = !_d5c0a748_1abc_45b9_89a6_2d8e2dc3a3e4_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _80a7df97_077b_484f_9818_86164042da64_buttonVisibilityTest;
	private bool _c0b6f1a4_21a7_4809_be3f_dbb9d2ed5075_buttonVisibilityTest;
	private bool _d5c0a748_1abc_45b9_89a6_2d8e2dc3a3e4_buttonVisibilityTest;
	private string Get_f8c777c6_748e_4fd8_b3a6_d5303f88e491_Class()
	{
		return "alert alert-info";
	}
	private string Get_8c865a67_e30f_46db_aaf9_909e553e1672_Class()
	{
		return "alert alert-info";
	}
	private string Get_39cb46be_39cc_4d6b_b0ca_5c166d8870e7_Class()
	{
		return "alert alert-info";
	}
	private string _97660140_e67f_4c23_bfd5_c2f519945c3d_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
