@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_07605ea3_604e_4ed1_8a54_90ce5ffb1690_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<a href="#">
	@(GetAnchor_5d089d4d_d446_4f6b_b974_c63be4985db7_Text())
</a>
<div class="@(Get_6ce0e78c_b89c_4c3c_8e60_3182f5c6dccf_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
<div class="@(Get_00b5df5a_0ef8_49ad_845e_1cedbf6f068a_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_dc29b26c_b709_4192_8dd7_e5a960b9c828_Class())">
	<p>This div is a test!</p>
</div>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_9e6d7439_1839_4abe_8a74_5f18f1c8fe3c_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@code { 

	private void _07605ea3_604e_4ed1_8a54_90ce5ffb1690_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_5d089d4d_d446_4f6b_b974_c63be4985db7_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_6ce0e78c_b89c_4c3c_8e60_3182f5c6dccf_Class()
	{
		return "alert alert-info";
	}
	private string _3a6c7a2c_5d26_4c54_a65b_853572a7d0ff_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_00b5df5a_0ef8_49ad_845e_1cedbf6f068a_Class()
	{
		return "alert alert-info";
	}
	private string Get_dc29b26c_b709_4192_8dd7_e5a960b9c828_Class()
	{
		return "alert alert-info";
	}
	private void _9e6d7439_1839_4abe_8a74_5f18f1c8fe3c_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
