@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _24b0d20b_e45e_4cac_8da1_e34f0b7ac2bf_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _24b0d20b_e45e_4cac_8da1_e34f0b7ac2bf_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _24b0d20b_e45e_4cac_8da1_e34f0b7ac2bf_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _b2e6c091_a620_4092_953d_3b90ed72a99a_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _b2e6c091_a620_4092_953d_3b90ed72a99a_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _b2e6c091_a620_4092_953d_3b90ed72a99a_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _b2e6c091_a620_4092_953d_3b90ed72a99a_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _b2e6c091_a620_4092_953d_3b90ed72a99a_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_890ce061_f74a_4a80_b53b_dad1d7010bd4_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _890ce061_f74a_4a80_b53b_dad1d7010bd4_buttonVisibilityTest = !_890ce061_f74a_4a80_b53b_dad1d7010bd4_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_106b145f_003d_4c7d_b3b6_bcd2b8b2939f_Text())
</a>
<a href="#">
	@(GetAnchor_a789fe55_6c61_45bb_81c7_842be906c147_Text())
</a>
@if (_1c81e795_da87_4742_94d0_a52b1ad97da6_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _1c81e795_da87_4742_94d0_a52b1ad97da6_buttonVisibilityTest = !_1c81e795_da87_4742_94d0_a52b1ad97da6_buttonVisibilityTest"> 
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _b79d5e08_36cd_4be4_901c_da3291efda1d_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip1Data = _b79d5e08_36cd_4be4_901c_da3291efda1d_GetTabStripData(); }
				@tabStrip1Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip2Data = _b79d5e08_36cd_4be4_901c_da3291efda1d_GetTabStripData(); }
				@tabStrip2Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip3Data = _b79d5e08_36cd_4be4_901c_da3291efda1d_GetTabStripData(); }
				@tabStrip3Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _7f11a1ff_79c5_44a2_90a1_1828152c5eee_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _7f11a1ff_79c5_44a2_90a1_1828152c5eee_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
	</tr>
</table>
@if (_90944f6c_6b88_4b8f_8ca3_999b5b258825_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _90944f6c_6b88_4b8f_8ca3_999b5b258825_buttonVisibilityTest = !_90944f6c_6b88_4b8f_8ca3_999b5b258825_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_a62ca004_acea_41d4_a7e0_8b8cd856764d_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<a href="#">
	@(GetAnchor_fe176317_b61d_43ec_982c_35f1bc70d06d_Text())
</a>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_ee5019c8_80cf_4e61_9804_3945ea9fb3b5_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@code { 
	private bool _890ce061_f74a_4a80_b53b_dad1d7010bd4_buttonVisibilityTest;
	private bool _1c81e795_da87_4742_94d0_a52b1ad97da6_buttonVisibilityTest;
	private bool _90944f6c_6b88_4b8f_8ca3_999b5b258825_buttonVisibilityTest;
	private string _24b0d20b_e45e_4cac_8da1_e34f0b7ac2bf_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _b2e6c091_a620_4092_953d_3b90ed72a99a_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_106b145f_003d_4c7d_b3b6_bcd2b8b2939f_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_a789fe55_6c61_45bb_81c7_842be906c147_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _b79d5e08_36cd_4be4_901c_da3291efda1d_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _7f11a1ff_79c5_44a2_90a1_1828152c5eee_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _a62ca004_acea_41d4_a7e0_8b8cd856764d_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_fe176317_b61d_43ec_982c_35f1bc70d06d_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _ee5019c8_80cf_4e61_9804_3945ea9fb3b5_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
