@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
		<td>
			<button>
				<table>
					<tr>
						<th>
							Test Header 1
						</th>
						<th>
							Test Header 2
						</th>
					</tr>
					<tr>
						<td>
							Col1Row1
						</td>
						<td>
							Col2Row1
						</td>
						<td>
							Col1Row2
						</td>
						<td>
							Col2Row2
						</td>
					</tr>
				</table>
			</button>
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
@if (_c62f2ab6_23db_4675_ab40_ae41a1c4be63_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _c62f2ab6_23db_4675_ab40_ae41a1c4be63_buttonVisibilityTest = !_c62f2ab6_23db_4675_ab40_ae41a1c4be63_buttonVisibilityTest"> 
		<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_192d957c_b61c_4528_b7cb_bac9ca183f50_GridOnRead"> 
			<GridColumns> 
				<a href="#">
					@(GetAnchor_9e776797_a5f4_40a8_8deb_b2c3a0a2485f_Text())
				</a>
			</GridColumns> 
		</TelerikGrid> 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_4a07c5db_7816_4f87_808b_ab69e32e75eb_GridOnRead"> 
	<GridColumns> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
			</tr>
			<tr>
				<td>
					Col1Row1
				</td>
				<td>
					Col2Row1
				</td>
			</tr>
		</table>
	</GridColumns> 
</TelerikGrid> 
<button>
	This is a test button! 
</button>
<div class="@(Get_1e612b9e_b031_4562_9604_4eda6009bd8e_Class())">
	@if (_5baf1558_de74_4617_85a4_8ceb6479ec65_buttonVisibilityTest) 
	{
		<TelerikButton OnClick="() => _5baf1558_de74_4617_85a4_8ceb6479ec65_buttonVisibilityTest = !_5baf1558_de74_4617_85a4_8ceb6479ec65_buttonVisibilityTest"> 
			This is a test button! 
		</TelerikButton> 
	}
</div>
@if (_625558bc_90ec_4508_94f1_60bb41984149_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _625558bc_90ec_4508_94f1_60bb41984149_buttonVisibilityTest = !_625558bc_90ec_4508_94f1_60bb41984149_buttonVisibilityTest"> 
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _e61fd0e5_38b7_4aa4_8aa0_ac91179b668a_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip1Data = _e61fd0e5_38b7_4aa4_8aa0_ac91179b668a_GetTabStripData(); }
				@tabStrip1Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</TelerikButton> 
}
@if (_77992fec_9d5f_4c81_aacc_08a10a538211_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _77992fec_9d5f_4c81_aacc_08a10a538211_buttonVisibilityTest = !_77992fec_9d5f_4c81_aacc_08a10a538211_buttonVisibilityTest"> 
		<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_a1044cfa_23ff_425b_a4a1_069a59e5d8d7_GridOnRead"> 
			<GridColumns> 
				<GridColumn Field="Item1" Title="TestColumn1"/> 
				<GridColumn Field="Item2" Title="TestColumn2"/> 
			</GridColumns> 
		</TelerikGrid> 
	</TelerikButton> 
}
@if (_c9555264_787b_45ae_8499_60e9301a653c_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _c9555264_787b_45ae_8499_60e9301a653c_buttonVisibilityTest = !_c9555264_787b_45ae_8499_60e9301a653c_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _c62f2ab6_23db_4675_ab40_ae41a1c4be63_buttonVisibilityTest;
	private bool _5baf1558_de74_4617_85a4_8ceb6479ec65_buttonVisibilityTest;
	private bool _625558bc_90ec_4508_94f1_60bb41984149_buttonVisibilityTest;
	private bool _77992fec_9d5f_4c81_aacc_08a10a538211_buttonVisibilityTest;
	private bool _c9555264_787b_45ae_8499_60e9301a653c_buttonVisibilityTest;
	private string GetAnchor_9e776797_a5f4_40a8_8deb_b2c3a0a2485f_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _192d957c_b61c_4528_b7cb_bac9ca183f50_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _4a07c5db_7816_4f87_808b_ab69e32e75eb_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_1e612b9e_b031_4562_9604_4eda6009bd8e_Class()
	{
		return "alert alert-info";
	}
	private string _e61fd0e5_38b7_4aa4_8aa0_ac91179b668a_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _a1044cfa_23ff_425b_a4a1_069a59e5d8d7_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
