
<a href="#">
	@(GetAnchor_3f5a0ec7_5cce_4eca_8cef_2f7346f2f2ae_Text())
</a>
<a href="#">
	@(GetAnchor_6199d2e5_61b3_4449_a723_152e087ad561_Text())
</a>
<div class="@(Get_39a6ff40_7aea_41c7_9fb2_24eee373f6b2_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_712b3013_5be2_453a_baff_6bec5f1e03ad_Class())">
	<div class="@(Get_83fb22fb_9730_4a72_ac2d_e060fc5e9cd1_Class())">
		<p>This div is a test!</p>
	</div>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
	</tr>
</table>
@code { 

	private string GetAnchor_3f5a0ec7_5cce_4eca_8cef_2f7346f2f2ae_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_6199d2e5_61b3_4449_a723_152e087ad561_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_39a6ff40_7aea_41c7_9fb2_24eee373f6b2_Class()
	{
		return "alert alert-info";
	}
	private string Get_83fb22fb_9730_4a72_ac2d_e060fc5e9cd1_Class()
	{
		return "alert alert-info";
	}
	private string Get_712b3013_5be2_453a_baff_6bec5f1e03ad_Class()
	{
		return "alert alert-info";
	}
} 
