@using Telerik.Blazor.Components;
@if (_e1509e34_1c3d_457d_a5fc_a25a12de5751_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _e1509e34_1c3d_457d_a5fc_a25a12de5751_buttonVisibilityTest = !_e1509e34_1c3d_457d_a5fc_a25a12de5751_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
	</tr>
</table>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_dffce445_3a47_4301_953f_b121eacb1e0a_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@if (_eb2fa1fd_83c9_4c85_94fa_ae12d635e6f9_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _eb2fa1fd_83c9_4c85_94fa_ae12d635e6f9_buttonVisibilityTest = !_eb2fa1fd_83c9_4c85_94fa_ae12d635e6f9_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_fde68a1b_b372_4f14_8e51_e9e8278b112c_GridOnRead"> 
	<GridColumns> 
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _2492f051_c47f_42d8_9267_4e601200d28a_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip1Data = _2492f051_c47f_42d8_9267_4e601200d28a_GetTabStripData(); }
				@tabStrip1Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip2Data = _2492f051_c47f_42d8_9267_4e601200d28a_GetTabStripData(); }
				@tabStrip2Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip3Data = _2492f051_c47f_42d8_9267_4e601200d28a_GetTabStripData(); }
				@tabStrip3Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</GridColumns> 
</TelerikGrid> 
@if (_2a892796_8e07_4efb_865e_e26c9a4671af_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _2a892796_8e07_4efb_865e_e26c9a4671af_buttonVisibilityTest = !_2a892796_8e07_4efb_865e_e26c9a4671af_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _e1509e34_1c3d_457d_a5fc_a25a12de5751_buttonVisibilityTest;
	private bool _eb2fa1fd_83c9_4c85_94fa_ae12d635e6f9_buttonVisibilityTest;
	private bool _2a892796_8e07_4efb_865e_e26c9a4671af_buttonVisibilityTest;
	private void _dffce445_3a47_4301_953f_b121eacb1e0a_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _2492f051_c47f_42d8_9267_4e601200d28a_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _fde68a1b_b372_4f14_8e51_e9e8278b112c_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
