@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_d409b107_cee3_45f4_b258_d60b0cce3d65_Text())
	<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_9d0ffd3a_f06a_468f_a212_7d4d6e9e9275_GridOnRead"> 
		<GridColumns> 
			<GridColumn Field="Item1" Title="TestColumn1"/> 
			<GridColumn Field="Item2" Title="TestColumn2"/> 
		</GridColumns> 
	</TelerikGrid> 
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _894eb64d_6cb5_47ba_97dd_ff1f0c8915ee_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _894eb64d_6cb5_47ba_97dd_ff1f0c8915ee_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _09d87901_df5a_4d7e_a512_9aa844da35ca_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _09d87901_df5a_4d7e_a512_9aa844da35ca_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _09d87901_df5a_4d7e_a512_9aa844da35ca_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _09d87901_df5a_4d7e_a512_9aa844da35ca_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
	</tr>
</table>
<button>
	<div class="@(Get_3e2e1c4a_2c11_4c94_b380_99d72dfef7bc_Class())">
		<p>This div is a test!</p>
	</div>
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
	</tr>
</table>
@if (_a403770f_31f5_4876_8379_c787fd752f47_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _a403770f_31f5_4876_8379_c787fd752f47_buttonVisibilityTest = !_a403770f_31f5_4876_8379_c787fd752f47_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_761b3103_f1a1_4bf3_8eea_3df68cdeeb5d_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _761b3103_f1a1_4bf3_8eea_3df68cdeeb5d_buttonVisibilityTest = !_761b3103_f1a1_4bf3_8eea_3df68cdeeb5d_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_d7dc4653_6070_4ff2_b54f_924fffd8905f_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _d7dc4653_6070_4ff2_b54f_924fffd8905f_buttonVisibilityTest = !_d7dc4653_6070_4ff2_b54f_924fffd8905f_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _a403770f_31f5_4876_8379_c787fd752f47_buttonVisibilityTest;
	private bool _761b3103_f1a1_4bf3_8eea_3df68cdeeb5d_buttonVisibilityTest;
	private bool _d7dc4653_6070_4ff2_b54f_924fffd8905f_buttonVisibilityTest;
	private void _9d0ffd3a_f06a_468f_a212_7d4d6e9e9275_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_d409b107_cee3_45f4_b258_d60b0cce3d65_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _894eb64d_6cb5_47ba_97dd_ff1f0c8915ee_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _09d87901_df5a_4d7e_a512_9aa844da35ca_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_3e2e1c4a_2c11_4c94_b380_99d72dfef7bc_Class()
	{
		return "alert alert-info";
	}
} 
