@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_8ae25bac_3c94_4fde_b2cb_d0ecf0958cc0_Text())
</a>
@if (_851f7d3f_7a45_4b7d_ba7d_2ef275cc5393_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _851f7d3f_7a45_4b7d_ba7d_2ef275cc5393_buttonVisibilityTest = !_851f7d3f_7a45_4b7d_ba7d_2ef275cc5393_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_a7482c1f_d97b_4338_8e13_d272bcf24cd4_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _a7482c1f_d97b_4338_8e13_d272bcf24cd4_buttonVisibilityTest = !_a7482c1f_d97b_4338_8e13_d272bcf24cd4_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_aae8f32c_48b8_472f_9cc7_7a7c7e107876_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _aae8f32c_48b8_472f_9cc7_7a7c7e107876_buttonVisibilityTest = !_aae8f32c_48b8_472f_9cc7_7a7c7e107876_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
@if (_6742fe24_b108_4b52_bab0_46ed5227e11b_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _6742fe24_b108_4b52_bab0_46ed5227e11b_buttonVisibilityTest = !_6742fe24_b108_4b52_bab0_46ed5227e11b_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_9cad0392_6511_450f_bb7a_77c232fd823f_Class())">
	<p>This div is a test!</p>
</div>
@if (_aaebe528_5a4c_4b32_9061_038217588c70_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _aaebe528_5a4c_4b32_9061_038217588c70_buttonVisibilityTest = !_aaebe528_5a4c_4b32_9061_038217588c70_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_65207e46_edd2_45e3_8e73_bb6d58a668e0_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<button>
	This is a test button! 
</button>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_0409368d_2100_4428_989d_86d67977729b_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@code { 
	private bool _851f7d3f_7a45_4b7d_ba7d_2ef275cc5393_buttonVisibilityTest;
	private bool _a7482c1f_d97b_4338_8e13_d272bcf24cd4_buttonVisibilityTest;
	private bool _aae8f32c_48b8_472f_9cc7_7a7c7e107876_buttonVisibilityTest;
	private bool _6742fe24_b108_4b52_bab0_46ed5227e11b_buttonVisibilityTest;
	private bool _aaebe528_5a4c_4b32_9061_038217588c70_buttonVisibilityTest;
	private string GetAnchor_8ae25bac_3c94_4fde_b2cb_d0ecf0958cc0_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_9cad0392_6511_450f_bb7a_77c232fd823f_Class()
	{
		return "alert alert-info";
	}
	private void _65207e46_edd2_45e3_8e73_bb6d58a668e0_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _0409368d_2100_4428_989d_86d67977729b_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
