@using Telerik.Blazor.Components;
@if (_c7765ae8_1f9f_48c4_b903_0b23cd1400e9_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _c7765ae8_1f9f_48c4_b903_0b23cd1400e9_buttonVisibilityTest = !_c7765ae8_1f9f_48c4_b903_0b23cd1400e9_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	<button>
		This is a test button! 
	</button>
</button>
<a href="#">
	@(GetAnchor_bcdb9cc2_4e54_483c_9807_d0f16720ee7a_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
	</tr>
</table>
@if (_9da3eca9_10ac_4c90_966e_9f6732e33ba8_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _9da3eca9_10ac_4c90_966e_9f6732e33ba8_buttonVisibilityTest = !_9da3eca9_10ac_4c90_966e_9f6732e33ba8_buttonVisibilityTest"> 
		<div class="@(Get_01571bd8_0258_4d99_adbb_258e399abf1b_Class())">
			<p>This div is a test!</p>
		</div>
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _8df24113_a23c_4b7b_a411_1e63a753dabb_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _8df24113_a23c_4b7b_a411_1e63a753dabb_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _8df24113_a23c_4b7b_a411_1e63a753dabb_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _8df24113_a23c_4b7b_a411_1e63a753dabb_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _8df24113_a23c_4b7b_a411_1e63a753dabb_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_f389f8a5_b2ae_4320_a7a5_b476b98a91c3_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _f389f8a5_b2ae_4320_a7a5_b476b98a91c3_buttonVisibilityTest = !_f389f8a5_b2ae_4320_a7a5_b476b98a91c3_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			<a href="#">
				@(GetAnchor_2aa19f83_71c3_4509_8fce_a18c223e13b9_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_2aa19f83_71c3_4509_8fce_a18c223e13b9_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_2aa19f83_71c3_4509_8fce_a18c223e13b9_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_2aa19f83_71c3_4509_8fce_a18c223e13b9_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_2aa19f83_71c3_4509_8fce_a18c223e13b9_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_2aa19f83_71c3_4509_8fce_a18c223e13b9_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_2aa19f83_71c3_4509_8fce_a18c223e13b9_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_2aa19f83_71c3_4509_8fce_a18c223e13b9_Text())
			</a>
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
	</tr>
</table>
@code { 
	private bool _c7765ae8_1f9f_48c4_b903_0b23cd1400e9_buttonVisibilityTest;
	private bool _9da3eca9_10ac_4c90_966e_9f6732e33ba8_buttonVisibilityTest;
	private bool _f389f8a5_b2ae_4320_a7a5_b476b98a91c3_buttonVisibilityTest;
	private string GetAnchor_bcdb9cc2_4e54_483c_9807_d0f16720ee7a_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_01571bd8_0258_4d99_adbb_258e399abf1b_Class()
	{
		return "alert alert-info";
	}
	private string _8df24113_a23c_4b7b_a411_1e63a753dabb_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_2aa19f83_71c3_4509_8fce_a18c223e13b9_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
