@using Telerik.Blazor.Components;
@if (_b3149d8f_ec5b_4d57_976c_06c108c95159_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _b3149d8f_ec5b_4d57_976c_06c108c95159_buttonVisibilityTest = !_b3149d8f_ec5b_4d57_976c_06c108c95159_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text())
				<TelerikTabStrip> 
					<TabStripTab> 
						@{ var tabStrip0Data = _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData(); }
						@tabStrip0Data
					</TabStripTab> 
				</TelerikTabStrip> 
			</a>
		</td>
	</tr>
</table>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_462053cc_879d_4075_bdd1_97aa7f80be11_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<a href="#">
	@(GetAnchor_65abc272_fcd7_4a05_98a2_88df89588b43_Text())
</a>
@if (_01d549d9_c0fa_43e8_be5e_8fe07949e78d_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _01d549d9_c0fa_43e8_be5e_8fe07949e78d_buttonVisibilityTest = !_01d549d9_c0fa_43e8_be5e_8fe07949e78d_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
	</tr>
</table>
@code { 
	private bool _b3149d8f_ec5b_4d57_976c_06c108c95159_buttonVisibilityTest;
	private bool _01d549d9_c0fa_43e8_be5e_8fe07949e78d_buttonVisibilityTest;
	private string _b6233326_fe1a_40fc_bef1_e5c706782f06_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_fceb6d46_301d_4fac_b60a_60fe34d9e3bc_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _462053cc_879d_4075_bdd1_97aa7f80be11_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_65abc272_fcd7_4a05_98a2_88df89588b43_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
