@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_97fba71a_bc0f_4826_b691_79dcf9ef1745_GridOnRead"> 
	<GridColumns> 
		<div class="@(Get_2faf1c9b_0cfa_435c_8085_9445e98c43dc_Class())">
			<p>This div is a test!</p>
		</div>
	</GridColumns> 
</TelerikGrid> 
<div class="@(Get_0959b6b6_c998_4ef3_bf1e_be989cd218bd_Class())">
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _4c123b54_563a_446b_9444_8a35575f8966_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
		<TabStripTab> 
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _40a73006_fb91_4de1_a3dd_9474de2dcd82_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _40a73006_fb91_4de1_a3dd_9474de2dcd82_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _40a73006_fb91_4de1_a3dd_9474de2dcd82_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _40a73006_fb91_4de1_a3dd_9474de2dcd82_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _40a73006_fb91_4de1_a3dd_9474de2dcd82_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip2Data = _4c123b54_563a_446b_9444_8a35575f8966_GetTabStripData(); }
			@tabStrip2Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip3Data = _4c123b54_563a_446b_9444_8a35575f8966_GetTabStripData(); }
			@tabStrip3Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip4Data = _4c123b54_563a_446b_9444_8a35575f8966_GetTabStripData(); }
			@tabStrip4Data
		</TabStripTab> 
	</TelerikTabStrip> 
</div>
@if (_246239b8_245c_4c22_aae2_4aeefc6795fd_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _246239b8_245c_4c22_aae2_4aeefc6795fd_buttonVisibilityTest = !_246239b8_245c_4c22_aae2_4aeefc6795fd_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_519a72d8_3e9a_4d33_a5a2_941ec202509f_Class())">
	<p>This div is a test!</p>
</div>
<button>
	This is a test button! 
</button>
@code { 
	private bool _246239b8_245c_4c22_aae2_4aeefc6795fd_buttonVisibilityTest;
	private string Get_2faf1c9b_0cfa_435c_8085_9445e98c43dc_Class()
	{
		return "alert alert-info";
	}
	private void _97fba71a_bc0f_4826_b691_79dcf9ef1745_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _40a73006_fb91_4de1_a3dd_9474de2dcd82_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _4c123b54_563a_446b_9444_8a35575f8966_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_0959b6b6_c998_4ef3_bf1e_be989cd218bd_Class()
	{
		return "alert alert-info";
	}
	private string Get_519a72d8_3e9a_4d33_a5a2_941ec202509f_Class()
	{
		return "alert alert-info";
	}
} 
