@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_8caddedd_feca_487f_a9e2_b656ccf4bbd7_Text())
</a>
<button>
	This is a test button! 
</button>
<a href="#">
	@(GetAnchor_bacacdc6_a706_4d4d_a68a_d9f6e1524fd7_Text())
</a>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_50db7b81_9a0e_4503_84e9_f51d324c095e_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_83fb4fbe_b9a0_464b_b227_996dae66f491_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@code { 

	private string GetAnchor_8caddedd_feca_487f_a9e2_b656ccf4bbd7_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_bacacdc6_a706_4d4d_a68a_d9f6e1524fd7_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _50db7b81_9a0e_4503_84e9_f51d324c095e_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _83fb4fbe_b9a0_464b_b227_996dae66f491_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
