@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_675b418c_2b07_4ecd_bf52_ae11377c71ab_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<div class="@(Get_c3c89476_8531_49e5_8c04_92551eddb712_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_29bbbf85_342a_4ca0_80e7_55d31789e564_Text())
	<div class="@(Get_2c191fcc_1017_4bb1_9109_ae11a6d289c0_Class())">
		<a href="#">
			@(GetAnchor_0782d7b5_b01e_404a_b81b_a9a89835fa86_Text())
		</a>
	</div>
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
		<td>
			<div class="@(Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class())">
				<div class="@(Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class())">
					<p>This div is a test!</p>
				</div>
			</div>
		</td>
	</tr>
</table>
<div class="@(Get_0bcac65e_effe_4c83_80e7_5828d25759a1_Class())">
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _1951f025_6aec_44b2_a647_6a422b52fea7_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
	</TelerikTabStrip> 
</div>
<div class="@(Get_8a707625_ca48_4915_94bf_10022bef3bd2_Class())">
	<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_aa2e3425_f1f0_4464_8526_1b108cffdcbf_GridOnRead"> 
		<GridColumns> 
			<GridColumn Field="Item1" Title="TestColumn1"/> 
			<GridColumn Field="Item2" Title="TestColumn2"/> 
		</GridColumns> 
	</TelerikGrid> 
</div>
<div class="@(Get_3a32a83e_baf3_4adb_b459_0a3bd428bd07_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private void _675b418c_2b07_4ecd_bf52_ae11377c71ab_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_c3c89476_8531_49e5_8c04_92551eddb712_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_0782d7b5_b01e_404a_b81b_a9a89835fa86_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_2c191fcc_1017_4bb1_9109_ae11a6d289c0_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_29bbbf85_342a_4ca0_80e7_55d31789e564_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_cc6c88a7_10ea_44ea_a9d6_60e166b513be_Class()
	{
		return "alert alert-info";
	}
	private string Get_aa5268b6_0cfe_4b44_8bae_68206d514cae_Class()
	{
		return "alert alert-info";
	}
	private string _1951f025_6aec_44b2_a647_6a422b52fea7_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_0bcac65e_effe_4c83_80e7_5828d25759a1_Class()
	{
		return "alert alert-info";
	}
	private void _aa2e3425_f1f0_4464_8526_1b108cffdcbf_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_8a707625_ca48_4915_94bf_10022bef3bd2_Class()
	{
		return "alert alert-info";
	}
	private string Get_3a32a83e_baf3_4adb_b459_0a3bd428bd07_Class()
	{
		return "alert alert-info";
	}
} 
