@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _7c802945_60d3_49ba_8b15_94f6441167c9_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_568307c1_592c_459f_8945_dd5e4131112e_GridOnRead"> 
	<GridColumns> 
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _374bed57_2be5_4ae9_bb2e_dfd70a15c1b7_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</GridColumns> 
</TelerikGrid> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
		<td>
			Col5Row5
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col1Row5
		</td>
	</tr>
</table>
<div class="@(Get_c265707a_881f_44cd_ba8b_628b7f1962de_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_463c9ebe_43b8_4ee0_88e7_671c50c8ba72_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_54cac277_7c61_4d7d_8da4_d3fbf1012ab1_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string _7c802945_60d3_49ba_8b15_94f6441167c9_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _374bed57_2be5_4ae9_bb2e_dfd70a15c1b7_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _568307c1_592c_459f_8945_dd5e4131112e_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_c265707a_881f_44cd_ba8b_628b7f1962de_Class()
	{
		return "alert alert-info";
	}
	private string Get_463c9ebe_43b8_4ee0_88e7_671c50c8ba72_Class()
	{
		return "alert alert-info";
	}
	private string Get_54cac277_7c61_4d7d_8da4_d3fbf1012ab1_Class()
	{
		return "alert alert-info";
	}
} 
