@using Telerik.Blazor.Components;
@if (_37c3342d_9c58_49dd_a2ad_0da4d38c6d5a_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _37c3342d_9c58_49dd_a2ad_0da4d38c6d5a_buttonVisibilityTest = !_37c3342d_9c58_49dd_a2ad_0da4d38c6d5a_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_3f86d9e8_0d6c_4359_9b4b_4bb1547f1277_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _e3d4e85b_e2eb_41ef_a5d8_c7a8b8edb441_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _e3d4e85b_e2eb_41ef_a5d8_c7a8b8edb441_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _e3d4e85b_e2eb_41ef_a5d8_c7a8b8edb441_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _e3d4e85b_e2eb_41ef_a5d8_c7a8b8edb441_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
				<th>
					Test Header 3
				</th>
				<th>
					Test Header 4
				</th>
				<th>
					Test Header 5
				</th>
			</tr>
			<tr>
				<td>
					Col1Row1
				</td>
				<td>
					Col2Row1
				</td>
				<td>
					Col3Row1
				</td>
				<td>
					Col4Row1
				</td>
				<td>
					Col5Row1
				</td>
				<td>
					Col1Row2
				</td>
				<td>
					Col2Row2
				</td>
				<td>
					Col3Row2
				</td>
				<td>
					Col4Row2
				</td>
				<td>
					Col5Row2
				</td>
				<td>
					Col1Row3
				</td>
				<td>
					Col2Row3
				</td>
				<td>
					Col3Row3
				</td>
				<td>
					Col4Row3
				</td>
				<td>
					Col5Row3
				</td>
				<td>
					Col1Row4
				</td>
				<td>
					Col2Row4
				</td>
				<td>
					Col3Row4
				</td>
				<td>
					Col4Row4
				</td>
				<td>
					Col5Row4
				</td>
				<td>
					Col1Row5
				</td>
				<td>
					Col2Row5
				</td>
				<td>
					Col3Row5
				</td>
				<td>
					Col4Row5
				</td>
				<td>
					Col5Row5
				</td>
			</tr>
		</table>
	</TabStripTab> 
</TelerikTabStrip> 
@if (_5b310258_13b9_4820_ae17_59f1e6c600c1_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _5b310258_13b9_4820_ae17_59f1e6c600c1_buttonVisibilityTest = !_5b310258_13b9_4820_ae17_59f1e6c600c1_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_112436d1_8e35_493b_9534_f03c3747d711_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@if (_1c4aab0f_36e5_4256_ae8c_f8fad76c26b0_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _1c4aab0f_36e5_4256_ae8c_f8fad76c26b0_buttonVisibilityTest = !_1c4aab0f_36e5_4256_ae8c_f8fad76c26b0_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_981e5cfd_ff85_491a_950a_ee145c2868f8_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _981e5cfd_ff85_491a_950a_ee145c2868f8_buttonVisibilityTest = !_981e5cfd_ff85_491a_950a_ee145c2868f8_buttonVisibilityTest"> 
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _0f600639_4f07_42e9_adfd_7278baa57277_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</TelerikButton> 
}
@if (_a2e1a710_5beb_427b_aba0_691eb78782d2_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _a2e1a710_5beb_427b_aba0_691eb78782d2_buttonVisibilityTest = !_a2e1a710_5beb_427b_aba0_691eb78782d2_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_7d871566_5b03_4b9b_b1e3_e8f883ad4bb6_Text())
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _9b376b90_2be1_40e5_9640_28d5bfa0c354_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
	</TelerikTabStrip> 
</a>
@code { 
	private bool _37c3342d_9c58_49dd_a2ad_0da4d38c6d5a_buttonVisibilityTest;
	private bool _5b310258_13b9_4820_ae17_59f1e6c600c1_buttonVisibilityTest;
	private bool _1c4aab0f_36e5_4256_ae8c_f8fad76c26b0_buttonVisibilityTest;
	private bool _981e5cfd_ff85_491a_950a_ee145c2868f8_buttonVisibilityTest;
	private bool _a2e1a710_5beb_427b_aba0_691eb78782d2_buttonVisibilityTest;
	private string GetAnchor_3f86d9e8_0d6c_4359_9b4b_4bb1547f1277_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _e3d4e85b_e2eb_41ef_a5d8_c7a8b8edb441_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _112436d1_8e35_493b_9534_f03c3747d711_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _0f600639_4f07_42e9_adfd_7278baa57277_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _9b376b90_2be1_40e5_9640_28d5bfa0c354_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_7d871566_5b03_4b9b_b1e3_e8f883ad4bb6_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
