@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _a1688f6e_3018_44d1_88be_79b170e06b6d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_d1b257cf_fc76_4b32_b85a_7e746f9a5b4f_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@if (_355134bc_78bc_44b3_bc3e_530c006364af_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _355134bc_78bc_44b3_bc3e_530c006364af_buttonVisibilityTest = !_355134bc_78bc_44b3_bc3e_530c006364af_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _090ab5aa_fb17_43a4_a924_a933f2ce0c56_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _090ab5aa_fb17_43a4_a924_a933f2ce0c56_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_50a7d770_4e1d_4031_b5e6_32c9d934ddb2_Text())
	@if (_c3d0659c_3a34_479b_b82f_c5870f500c45_buttonVisibilityTest) 
	{
		<TelerikButton OnClick="() => _c3d0659c_3a34_479b_b82f_c5870f500c45_buttonVisibilityTest = !_c3d0659c_3a34_479b_b82f_c5870f500c45_buttonVisibilityTest"> 
			<a href="#">
				@(GetAnchor_e0e6ca19_7239_45e0_a3f0_f062e5821132_Text())
			</a>
		</TelerikButton> 
	}
</a>
<button>
	This is a test button! 
</button>
<div class="@(Get_62a59979_f74b_4878_bb3b_c57e1980ab9b_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text())
			</a>
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _d45bafdc_a504_4798_a4e1_786392feab26_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _d45bafdc_a504_4798_a4e1_786392feab26_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _d45bafdc_a504_4798_a4e1_786392feab26_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _355134bc_78bc_44b3_bc3e_530c006364af_buttonVisibilityTest;
	private bool _c3d0659c_3a34_479b_b82f_c5870f500c45_buttonVisibilityTest;
	private string _a1688f6e_3018_44d1_88be_79b170e06b6d_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _d1b257cf_fc76_4b32_b85a_7e746f9a5b4f_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _090ab5aa_fb17_43a4_a924_a933f2ce0c56_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_e0e6ca19_7239_45e0_a3f0_f062e5821132_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_50a7d770_4e1d_4031_b5e6_32c9d934ddb2_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_62a59979_f74b_4878_bb3b_c57e1980ab9b_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_5798fb3a_7d27_44aa_9be4_54008755bb7c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _d45bafdc_a504_4798_a4e1_786392feab26_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
