@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_e1bff6f3_2b8e_4785_baca_6c3104ed088d_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_dfd4848e_178f_4884_8706_25c7d62f71d7_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
	</tr>
</table>
<div class="@(Get_cec74bcd_d14b_43e7_b444_6a29d96ec04d_Class())">
	@if (_d5c9f548_6d72_44e5_a809_61ef4a93fda1_buttonVisibilityTest) 
	{
		<TelerikButton OnClick="() => _d5c9f548_6d72_44e5_a809_61ef4a93fda1_buttonVisibilityTest = !_d5c9f548_6d72_44e5_a809_61ef4a93fda1_buttonVisibilityTest"> 
			This is a test button! 
		</TelerikButton> 
	}
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col1Row5
		</td>
	</tr>
</table>
@code { 
	private bool _d5c9f548_6d72_44e5_a809_61ef4a93fda1_buttonVisibilityTest;
	private void _e1bff6f3_2b8e_4785_baca_6c3104ed088d_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _dfd4848e_178f_4884_8706_25c7d62f71d7_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_cec74bcd_d14b_43e7_b444_6a29d96ec04d_Class()
	{
		return "alert alert-info";
	}
} 
