@using Telerik.Blazor.Components;
<div class="@(Get_990c0f72_4885_40c0_834e_bd35f9427491_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _b489bb67_dd46_4e70_9c80_0a7758f5842f_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_54b43ab6_ce05_4258_b319_f488aca2c0db_GridOnRead"> 
	<GridColumns> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
				<th>
					Test Header 3
				</th>
			</tr>
			<tr>
				<td>
					Col1Row1
				</td>
				<td>
					Col2Row1
				</td>
				<td>
					Col3Row1
				</td>
				<td>
					Col1Row2
				</td>
				<td>
					Col2Row2
				</td>
				<td>
					Col3Row2
				</td>
				<td>
					Col1Row3
				</td>
				<td>
					Col2Row3
				</td>
				<td>
					Col3Row3
				</td>
				<td>
					Col1Row4
				</td>
				<td>
					Col2Row4
				</td>
				<td>
					Col3Row4
				</td>
				<td>
					Col1Row5
				</td>
				<td>
					Col2Row5
				</td>
				<td>
					Col3Row5
				</td>
			</tr>
		</table>
	</GridColumns> 
</TelerikGrid> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			@if (_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest = !_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest = !_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest = !_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest = !_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest = !_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest = !_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest = !_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest = !_e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _87a438f3_4440_4604_977c_96b978d5e59d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _87a438f3_4440_4604_977c_96b978d5e59d_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _87a438f3_4440_4604_977c_96b978d5e59d_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_5c4bc2c5_0dce_47b3_bd09_1f5a327eb8ce_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@code { 
	private bool _e3e94eb1_5688_40cb_8518_812596e9aa0b_buttonVisibilityTest;
	private string Get_990c0f72_4885_40c0_834e_bd35f9427491_Class()
	{
		return "alert alert-info";
	}
	private string _b489bb67_dd46_4e70_9c80_0a7758f5842f_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _54b43ab6_ce05_4258_b319_f488aca2c0db_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _87a438f3_4440_4604_977c_96b978d5e59d_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _5c4bc2c5_0dce_47b3_bd09_1f5a327eb8ce_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
