@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_87ceab1e_0f24_43b4_a960_c361c7881f5f_Text())
</a>
<div class="@(Get_533c3fd6_f6ce_40c8_8655_8c342e499c88_Class())">
	<p>This div is a test!</p>
</div>
<button>
	<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_3f7d305f_1932_4874_a0a8_8a35e1051ea1_GridOnRead"> 
		<GridColumns> 
			<GridColumn Field="Item1" Title="TestColumn1"/> 
			<GridColumn Field="Item2" Title="TestColumn2"/> 
		</GridColumns> 
	</TelerikGrid> 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest = !_4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
@code { 
	private bool _4444bd22_318c_4748_8c6e_1c980b00e599_buttonVisibilityTest;
	private string GetAnchor_87ceab1e_0f24_43b4_a960_c361c7881f5f_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_533c3fd6_f6ce_40c8_8655_8c342e499c88_Class()
	{
		return "alert alert-info";
	}
	private void _3f7d305f_1932_4874_a0a8_8a35e1051ea1_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
