@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_e99102c7_b2f2_48d9_afdc_d0e94934faa2_Text())
</a>
@if (_29826502_7497_46c6_b80f_067cb5bc1409_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _29826502_7497_46c6_b80f_067cb5bc1409_buttonVisibilityTest = !_29826502_7497_46c6_b80f_067cb5bc1409_buttonVisibilityTest"> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
				<th>
					Test Header 3
				</th>
				<th>
					Test Header 4
				</th>
			</tr>
			<tr>
				<td>
					Col1Row1
				</td>
				<td>
					Col2Row1
				</td>
				<td>
					Col3Row1
				</td>
				<td>
					Col4Row1
				</td>
				<td>
					Col1Row2
				</td>
				<td>
					Col2Row2
				</td>
				<td>
					Col3Row2
				</td>
				<td>
					Col4Row2
				</td>
				<td>
					Col1Row3
				</td>
				<td>
					Col2Row3
				</td>
				<td>
					Col3Row3
				</td>
				<td>
					Col4Row3
				</td>
				<td>
					Col1Row4
				</td>
				<td>
					Col2Row4
				</td>
				<td>
					Col3Row4
				</td>
				<td>
					Col4Row4
				</td>
				<td>
					Col1Row5
				</td>
				<td>
					Col2Row5
				</td>
				<td>
					Col3Row5
				</td>
				<td>
					Col4Row5
				</td>
			</tr>
		</table>
	</TelerikButton> 
}
<div class="@(Get_6e399019_49ea_446d_83ff_68ccd9312982_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_c5c733ca_0029_44dc_acea_2753705f4653_Text())
	<a href="#">
		@(GetAnchor_63858fe0_e95c_4053_8735_5eb76fe8fb62_Text())
	</a>
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _91531567_755c_49f6_93ba_3125ec3ede0a_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _91531567_755c_49f6_93ba_3125ec3ede0a_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
				<th>
					Test Header 3
				</th>
				<th>
					Test Header 4
				</th>
				<th>
					Test Header 5
				</th>
			</tr>
			<tr>
				<td>
					Col1Row1
				</td>
				<td>
					Col2Row1
				</td>
				<td>
					Col3Row1
				</td>
				<td>
					Col4Row1
				</td>
				<td>
					Col5Row1
				</td>
				<td>
					Col1Row2
				</td>
				<td>
					Col2Row2
				</td>
				<td>
					Col3Row2
				</td>
				<td>
					Col4Row2
				</td>
				<td>
					Col5Row2
				</td>
			</tr>
		</table>
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_6a4e6efb_ca95_4bc4_85f0_3648c577e715_Text())
</a>
<a href="#">
	@(GetAnchor_370b18dd_5e79_41c5_8770_1c09787769e8_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _30b6189a_5da8_4100_9077_b18d6351ec40_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _30b6189a_5da8_4100_9077_b18d6351ec40_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _30b6189a_5da8_4100_9077_b18d6351ec40_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
	</tr>
</table>
@code { 
	private bool _29826502_7497_46c6_b80f_067cb5bc1409_buttonVisibilityTest;
	private string GetAnchor_e99102c7_b2f2_48d9_afdc_d0e94934faa2_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_6e399019_49ea_446d_83ff_68ccd9312982_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_63858fe0_e95c_4053_8735_5eb76fe8fb62_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_c5c733ca_0029_44dc_acea_2753705f4653_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _91531567_755c_49f6_93ba_3125ec3ede0a_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_6a4e6efb_ca95_4bc4_85f0_3648c577e715_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_370b18dd_5e79_41c5_8770_1c09787769e8_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _30b6189a_5da8_4100_9077_b18d6351ec40_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
