@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_5a819b78_8a3c_4f94_b421_413d833a0568_Text())
	@if (_ab754ce8_6b38_48ba_b989_ca4b69dbbaac_buttonVisibilityTest) 
	{
		<TelerikButton OnClick="() => _ab754ce8_6b38_48ba_b989_ca4b69dbbaac_buttonVisibilityTest = !_ab754ce8_6b38_48ba_b989_ca4b69dbbaac_buttonVisibilityTest"> 
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _273e24fc_2fb2_4996_a8d9_8c00d8e0936d_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _273e24fc_2fb2_4996_a8d9_8c00d8e0936d_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _273e24fc_2fb2_4996_a8d9_8c00d8e0936d_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</TelerikButton> 
	}
</a>
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_19cdb889_8738_4678_afb3_5493ade00e06_Text())
</a>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_e6ccf02c_f16e_4ce1_9a1d_adc7a659917d_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<a href="#">
	@(GetAnchor_990494ef_cc89_415e_a2b1_ebf5f23100d6_Text())
</a>
<a href="#">
	@(GetAnchor_30b7824a_f7bb_48a5_848f_dfec0be8a52e_Text())
	<button>
		This is a test button! 
	</button>
</a>
@code { 
	private bool _ab754ce8_6b38_48ba_b989_ca4b69dbbaac_buttonVisibilityTest;
	private string _273e24fc_2fb2_4996_a8d9_8c00d8e0936d_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_5a819b78_8a3c_4f94_b421_413d833a0568_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_19cdb889_8738_4678_afb3_5493ade00e06_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _e6ccf02c_f16e_4ce1_9a1d_adc7a659917d_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_990494ef_cc89_415e_a2b1_ebf5f23100d6_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_30b7824a_f7bb_48a5_848f_dfec0be8a52e_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
