@using Telerik.Blazor.Components;
<div class="@(Get_f8025dd3_f573_4e53_8773_1da442ad3e66_Class())">
	<p>This div is a test!</p>
</div>
@if (_fffad841_a844_428b_a493_b711723e1ea3_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _fffad841_a844_428b_a493_b711723e1ea3_buttonVisibilityTest = !_fffad841_a844_428b_a493_b711723e1ea3_buttonVisibilityTest"> 
		<a href="#">
			@(GetAnchor_7e4609e0_a5fe_4b0d_8008_e730876502ef_Text())
		</a>
	</TelerikButton> 
}
@if (_75aa1e2a_9fe6_495c_88de_ce78315d414e_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _75aa1e2a_9fe6_495c_88de_ce78315d414e_buttonVisibilityTest = !_75aa1e2a_9fe6_495c_88de_ce78315d414e_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_74688132_1e1e_4049_bf9d_873b2dc4a726_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _74688132_1e1e_4049_bf9d_873b2dc4a726_buttonVisibilityTest = !_74688132_1e1e_4049_bf9d_873b2dc4a726_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			@if (_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest = !_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest = !_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest = !_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest = !_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest = !_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest = !_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest = !_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
		<td>
			@if (_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest = !_93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_2416f75c_4880_4425_aea6_9d7464929e17_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _50df3236_a8d8_4ccb_a67c_7623cf46d97f_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _50df3236_a8d8_4ccb_a67c_7623cf46d97f_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
@code { 
	private bool _fffad841_a844_428b_a493_b711723e1ea3_buttonVisibilityTest;
	private bool _75aa1e2a_9fe6_495c_88de_ce78315d414e_buttonVisibilityTest;
	private bool _74688132_1e1e_4049_bf9d_873b2dc4a726_buttonVisibilityTest;
	private bool _93ff75b1_0d9a_4577_9924_e0abc54e7784_buttonVisibilityTest;
	private string Get_f8025dd3_f573_4e53_8773_1da442ad3e66_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_7e4609e0_a5fe_4b0d_8008_e730876502ef_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _2416f75c_4880_4425_aea6_9d7464929e17_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _50df3236_a8d8_4ccb_a67c_7623cf46d97f_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
