@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_f15d390c_ba2c_4ca4_8650_d6138148521a_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<div class="@(Get_6a113fbf_86d5_45b8_a658_e213711a048a_Class())">
	<p>This div is a test!</p>
</div>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_d55e8d65_88ac_4e47_9732_fd06ba44a9a6_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<a href="#">
	@(GetAnchor_27ce0fd3_02c6_4ca0_9b33_58f2ab10b8ae_Text())
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
			<th>
				Test Header 3
			</th>
			<th>
				Test Header 4
			</th>
			<th>
				Test Header 5
			</th>
		</tr>
		<tr>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
			<td>
				<div class="@(Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class())">
					<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead"> 
						<GridColumns> 
							<GridColumn Field="Item1" Title="TestColumn1"/> 
							<GridColumn Field="Item2" Title="TestColumn2"/> 
						</GridColumns> 
					</TelerikGrid> 
				</div>
			</td>
		</tr>
	</table>
</a>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_0c96f148_5dea_4971_9bbd_46b3590e0288_GridOnRead"> 
	<GridColumns> 
		<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_03debaee_a8c7_493f_a871_bf5bc1b48551_GridOnRead"> 
			<GridColumns> 
				<GridColumn Field="Item1" Title="TestColumn1"/> 
				<GridColumn Field="Item2" Title="TestColumn2"/> 
			</GridColumns> 
		</TelerikGrid> 
	</GridColumns> 
</TelerikGrid> 
<button>
	This is a test button! 
</button>
@code { 

	private void _f15d390c_ba2c_4ca4_8650_d6138148521a_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_6a113fbf_86d5_45b8_a658_e213711a048a_Class()
	{
		return "alert alert-info";
	}
	private void _d55e8d65_88ac_4e47_9732_fd06ba44a9a6_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _64407d53_7eba_4d88_b2b5_6cf9557328c3_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_1e012c6f_6e2a_4c64_8f4f_363f0c73b07d_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_27ce0fd3_02c6_4ca0_9b33_58f2ab10b8ae_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _03debaee_a8c7_493f_a871_bf5bc1b48551_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _0c96f148_5dea_4971_9bbd_46b3590e0288_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
