@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
<div class="@(Get_59cec8e0_13a0_4720_97da_c1db73e6cc55_Class())">
	<p>This div is a test!</p>
</div>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_f274cc40_a34c_4c6a_83b9_e6f558a5fc7b_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<a href="#">
	@(GetAnchor_53f2cd9e_ab3d_47cb_9d60_858141950e27_Text())
	<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_d6da5cb9_35b2_455d_a421_7be9b83bdeb2_GridOnRead"> 
		<GridColumns> 
			<GridColumn Field="Item1" Title="TestColumn1"/> 
			<GridColumn Field="Item2" Title="TestColumn2"/> 
		</GridColumns> 
	</TelerikGrid> 
</a>
@code { 

	private string Get_59cec8e0_13a0_4720_97da_c1db73e6cc55_Class()
	{
		return "alert alert-info";
	}
	private void _f274cc40_a34c_4c6a_83b9_e6f558a5fc7b_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _d6da5cb9_35b2_455d_a421_7be9b83bdeb2_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_53f2cd9e_ab3d_47cb_9d60_858141950e27_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
