@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _c21bbc3a_3b65_47b3_916c_fd2d0114e3d4_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _c21bbc3a_3b65_47b3_916c_fd2d0114e3d4_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_6dedb4a4_9d6f_4903_89b6_e9a7317f2177_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _6dedb4a4_9d6f_4903_89b6_e9a7317f2177_buttonVisibilityTest = !_6dedb4a4_9d6f_4903_89b6_e9a7317f2177_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_b3cb56f4_a139_4b12_8fd8_a979dff26ce9_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<div class="@(Get_65bad75c_d400_4ba8_9a5a_4263db4e51d0_Class())">
	<p>This div is a test!</p>
</div>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_c4595b73_a9ec_4983_a7dc_49d18f4e5576_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@if (_e68e0a2b_17de_48f2_9866_72d084cc2593_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _e68e0a2b_17de_48f2_9866_72d084cc2593_buttonVisibilityTest = !_e68e0a2b_17de_48f2_9866_72d084cc2593_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_abb1f2cc_002b_47d2_9088_06c2a5176d60_Class())">
	<TelerikTabStrip> 
		<TabStripTab> 
			@{ var tabStrip0Data = _8e4e447b_b930_4e37_a33e_ab052a8ca9ad_GetTabStripData(); }
			@tabStrip0Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip1Data = _8e4e447b_b930_4e37_a33e_ab052a8ca9ad_GetTabStripData(); }
			@tabStrip1Data
		</TabStripTab> 
		<TabStripTab> 
			@{ var tabStrip2Data = _8e4e447b_b930_4e37_a33e_ab052a8ca9ad_GetTabStripData(); }
			@tabStrip2Data
		</TabStripTab> 
	</TelerikTabStrip> 
</div>
@if (_799c20d5_96dd_4ca6_bcdf_e30d603831e7_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _799c20d5_96dd_4ca6_bcdf_e30d603831e7_buttonVisibilityTest = !_799c20d5_96dd_4ca6_bcdf_e30d603831e7_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_5267b50b_0a13_4b60_80a3_d4665f369c78_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<th>
						Test Header 1
					</th>
					<th>
						Test Header 2
					</th>
					<th>
						Test Header 3
					</th>
					<th>
						Test Header 4
					</th>
				</tr>
				<tr>
					<td>
						Col1Row1
					</td>
					<td>
						Col2Row1
					</td>
					<td>
						Col3Row1
					</td>
					<td>
						Col4Row1
					</td>
					<td>
						Col1Row2
					</td>
					<td>
						Col2Row2
					</td>
					<td>
						Col3Row2
					</td>
					<td>
						Col4Row2
					</td>
					<td>
						Col1Row3
					</td>
					<td>
						Col2Row3
					</td>
					<td>
						Col3Row3
					</td>
					<td>
						Col4Row3
					</td>
					<td>
						Col1Row4
					</td>
					<td>
						Col2Row4
					</td>
					<td>
						Col3Row4
					</td>
					<td>
						Col4Row4
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
@if (_507c675a_9e18_477f_9ca3_1e1067396a1e_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _507c675a_9e18_477f_9ca3_1e1067396a1e_buttonVisibilityTest = !_507c675a_9e18_477f_9ca3_1e1067396a1e_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _6dedb4a4_9d6f_4903_89b6_e9a7317f2177_buttonVisibilityTest;
	private bool _e68e0a2b_17de_48f2_9866_72d084cc2593_buttonVisibilityTest;
	private bool _799c20d5_96dd_4ca6_bcdf_e30d603831e7_buttonVisibilityTest;
	private bool _507c675a_9e18_477f_9ca3_1e1067396a1e_buttonVisibilityTest;
	private string _c21bbc3a_3b65_47b3_916c_fd2d0114e3d4_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _b3cb56f4_a139_4b12_8fd8_a979dff26ce9_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_65bad75c_d400_4ba8_9a5a_4263db4e51d0_Class()
	{
		return "alert alert-info";
	}
	private void _c4595b73_a9ec_4983_a7dc_49d18f4e5576_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _8e4e447b_b930_4e37_a33e_ab052a8ca9ad_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_abb1f2cc_002b_47d2_9088_06c2a5176d60_Class()
	{
		return "alert alert-info";
	}
	private void _5267b50b_0a13_4b60_80a3_d4665f369c78_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
