@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_2fa1654c_9946_43e7_b900_099695244e16_GridOnRead"> 
	<GridColumns> 
		<a href="#">
			@(GetAnchor_2acfe9d8_32f6_413b_a2b3_5e783226f22c_Text())
		</a>
	</GridColumns> 
</TelerikGrid> 
@if (_3fd23f5c_9487_488b_bdda_c6361be4ad4e_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _3fd23f5c_9487_488b_bdda_c6361be4ad4e_buttonVisibilityTest = !_3fd23f5c_9487_488b_bdda_c6361be4ad4e_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_a72c3247_e571_4b0f_b150_71fc41dfeb71_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<div class="@(Get_8d62a436_5b40_460d_90bf_e7e9cc8714f9_Class())">
	<a href="#">
		@(GetAnchor_c502a15d_a069_4103_bd39_165a833b913c_Text())
	</a>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					<div class="@(Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class())">
						<p>This div is a test!</p>
					</div>
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _95fd3ec6_852c_445f_a9f0_507961ebc760_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _95fd3ec6_852c_445f_a9f0_507961ebc760_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _95fd3ec6_852c_445f_a9f0_507961ebc760_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _95fd3ec6_852c_445f_a9f0_507961ebc760_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
@code { 
	private bool _3fd23f5c_9487_488b_bdda_c6361be4ad4e_buttonVisibilityTest;
	private string GetAnchor_2acfe9d8_32f6_413b_a2b3_5e783226f22c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _2fa1654c_9946_43e7_b900_099695244e16_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _a72c3247_e571_4b0f_b150_71fc41dfeb71_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_c502a15d_a069_4103_bd39_165a833b913c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_8d62a436_5b40_460d_90bf_e7e9cc8714f9_Class()
	{
		return "alert alert-info";
	}
	private string Get_2748e4ae_543f_44f4_a70a_7d9c742c74f0_Class()
	{
		return "alert alert-info";
	}
	private string _15d85c2c_a38e_4ce0_87ad_5c8738dc1881_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _95fd3ec6_852c_445f_a9f0_507961ebc760_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
