@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col1Row5
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _ee0bc990_0e2e_4efc_91a9_5f67e42ad931_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _ee0bc990_0e2e_4efc_91a9_5f67e42ad931_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _ee0bc990_0e2e_4efc_91a9_5f67e42ad931_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _ee0bc990_0e2e_4efc_91a9_5f67e42ad931_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip4Data = _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData(); }
					@tabStrip4Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_12a4568b_a1a5_4c6e_9d2b_9b7d9a33ba87_Text())
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
			<th>
				Test Header 3
			</th>
			<th>
				Test Header 4
			</th>
		</tr>
		<tr>
			<td>
				Col1Row1
			</td>
			<td>
				Col2Row1
			</td>
			<td>
				Col3Row1
			</td>
			<td>
				Col4Row1
			</td>
			<td>
				Col1Row2
			</td>
			<td>
				Col2Row2
			</td>
			<td>
				Col3Row2
			</td>
			<td>
				Col4Row2
			</td>
			<td>
				Col1Row3
			</td>
			<td>
				Col2Row3
			</td>
			<td>
				Col3Row3
			</td>
			<td>
				Col4Row3
			</td>
			<td>
				Col1Row4
			</td>
			<td>
				Col2Row4
			</td>
			<td>
				Col3Row4
			</td>
			<td>
				Col4Row4
			</td>
			<td>
				Col1Row5
			</td>
			<td>
				Col2Row5
			</td>
			<td>
				Col3Row5
			</td>
			<td>
				Col4Row5
			</td>
		</tr>
	</table>
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _d616f4c9_7f74_4645_b432_2c07e310b11d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _d616f4c9_7f74_4645_b432_2c07e310b11d_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _d616f4c9_7f74_4645_b432_2c07e310b11d_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_8c6ecb5c_df4b_4c82_90b7_0170af11cb8e_Text())
</a>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_ffb9da75_f2ec_452e_8da4_6deba1d24de8_GridOnRead"> 
	<GridColumns> 
		<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_831b9e75_568a_4893_a5c4_23d4a3229c06_GridOnRead"> 
			<GridColumns> 
				<GridColumn Field="Item1" Title="TestColumn1"/> 
				<GridColumn Field="Item2" Title="TestColumn2"/> 
			</GridColumns> 
		</TelerikGrid> 
	</GridColumns> 
</TelerikGrid> 
@if (_2f759156_0a25_4062_a3a2_78fb0b392086_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _2f759156_0a25_4062_a3a2_78fb0b392086_buttonVisibilityTest = !_2f759156_0a25_4062_a3a2_78fb0b392086_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<div class="@(Get_7873b8ef_a52d_4ebf_9dc5_d0a8b172e1dd_Class())">
	<p>This div is a test!</p>
</div>
<button>
	This is a test button! 
</button>
@code { 
	private bool _2f759156_0a25_4062_a3a2_78fb0b392086_buttonVisibilityTest;
	private string _ee0bc990_0e2e_4efc_91a9_5f67e42ad931_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _18f8ca66_983a_469d_9e56_c417229c82f2_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_12a4568b_a1a5_4c6e_9d2b_9b7d9a33ba87_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _d616f4c9_7f74_4645_b432_2c07e310b11d_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_8c6ecb5c_df4b_4c82_90b7_0170af11cb8e_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _831b9e75_568a_4893_a5c4_23d4a3229c06_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _ffb9da75_f2ec_452e_8da4_6deba1d24de8_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_7873b8ef_a52d_4ebf_9dc5_d0a8b172e1dd_Class()
	{
		return "alert alert-info";
	}
} 
