@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _664f36cc_b2d9_4a29_a38e_dcb7666e567c_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _664f36cc_b2d9_4a29_a38e_dcb7666e567c_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _664f36cc_b2d9_4a29_a38e_dcb7666e567c_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_161cd7b2_c598_410e_a70e_db51c3dbccad_Text())
	<button>
		This is a test button! 
	</button>
</a>
@if (_e76ea577_e77b_45ef_bef1_298eb0bd46d7_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _e76ea577_e77b_45ef_bef1_298eb0bd46d7_buttonVisibilityTest = !_e76ea577_e77b_45ef_bef1_298eb0bd46d7_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_c7bfaab5_31a1_4915_9062_77b1984e5488_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@if (_52aa9e98_a29f_47cb_8699_ac9ba0025d3d_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _52aa9e98_a29f_47cb_8699_ac9ba0025d3d_buttonVisibilityTest = !_52aa9e98_a29f_47cb_8699_ac9ba0025d3d_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_29bd7cb3_5aa5_4509_b544_e18b64025fe3_Text())
	<button>
		This is a test button! 
	</button>
</a>
<button>
	This is a test button! 
</button>
<button>
	This is a test button! 
</button>
<div class="@(Get_d888219f_def2_4a81_ad1d_52042130660b_Class())">
	<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_e7e86eb9_0a7a_4b4d_8564_48d76a0f75be_GridOnRead"> 
		<GridColumns> 
			<GridColumn Field="Item1" Title="TestColumn1"/> 
			<GridColumn Field="Item2" Title="TestColumn2"/> 
		</GridColumns> 
	</TelerikGrid> 
</div>
@code { 
	private bool _e76ea577_e77b_45ef_bef1_298eb0bd46d7_buttonVisibilityTest;
	private bool _52aa9e98_a29f_47cb_8699_ac9ba0025d3d_buttonVisibilityTest;
	private string _664f36cc_b2d9_4a29_a38e_dcb7666e567c_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_161cd7b2_c598_410e_a70e_db51c3dbccad_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _c7bfaab5_31a1_4915_9062_77b1984e5488_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_29bd7cb3_5aa5_4509_b544_e18b64025fe3_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _e7e86eb9_0a7a_4b4d_8564_48d76a0f75be_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_d888219f_def2_4a81_ad1d_52042130660b_Class()
	{
		return "alert alert-info";
	}
} 
