@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			<div class="@(Get_471dd5f2_e5c2_45bc_900f_f3d9e877f12f_Class())">
				<a href="#">
					@(GetAnchor_b53a699a_11e0_4b86_bb58_039bf50efd89_Text())
					<a href="#">
						@(GetAnchor_49fc637b_2aa8_4144_8c89_f5a256dc3cbf_Text())
					</a>
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_471dd5f2_e5c2_45bc_900f_f3d9e877f12f_Class())">
				<a href="#">
					@(GetAnchor_b53a699a_11e0_4b86_bb58_039bf50efd89_Text())
					<a href="#">
						@(GetAnchor_49fc637b_2aa8_4144_8c89_f5a256dc3cbf_Text())
					</a>
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_471dd5f2_e5c2_45bc_900f_f3d9e877f12f_Class())">
				<a href="#">
					@(GetAnchor_b53a699a_11e0_4b86_bb58_039bf50efd89_Text())
					<a href="#">
						@(GetAnchor_49fc637b_2aa8_4144_8c89_f5a256dc3cbf_Text())
					</a>
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_471dd5f2_e5c2_45bc_900f_f3d9e877f12f_Class())">
				<a href="#">
					@(GetAnchor_b53a699a_11e0_4b86_bb58_039bf50efd89_Text())
					<a href="#">
						@(GetAnchor_49fc637b_2aa8_4144_8c89_f5a256dc3cbf_Text())
					</a>
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_471dd5f2_e5c2_45bc_900f_f3d9e877f12f_Class())">
				<a href="#">
					@(GetAnchor_b53a699a_11e0_4b86_bb58_039bf50efd89_Text())
					<a href="#">
						@(GetAnchor_49fc637b_2aa8_4144_8c89_f5a256dc3cbf_Text())
					</a>
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_471dd5f2_e5c2_45bc_900f_f3d9e877f12f_Class())">
				<a href="#">
					@(GetAnchor_b53a699a_11e0_4b86_bb58_039bf50efd89_Text())
					<a href="#">
						@(GetAnchor_49fc637b_2aa8_4144_8c89_f5a256dc3cbf_Text())
					</a>
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_471dd5f2_e5c2_45bc_900f_f3d9e877f12f_Class())">
				<a href="#">
					@(GetAnchor_b53a699a_11e0_4b86_bb58_039bf50efd89_Text())
					<a href="#">
						@(GetAnchor_49fc637b_2aa8_4144_8c89_f5a256dc3cbf_Text())
					</a>
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_471dd5f2_e5c2_45bc_900f_f3d9e877f12f_Class())">
				<a href="#">
					@(GetAnchor_b53a699a_11e0_4b86_bb58_039bf50efd89_Text())
					<a href="#">
						@(GetAnchor_49fc637b_2aa8_4144_8c89_f5a256dc3cbf_Text())
					</a>
				</a>
			</div>
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _4c48f921_2b30_4dfc_ab0e_0e9f2d331cc7_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _4c48f921_2b30_4dfc_ab0e_0e9f2d331cc7_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _4c48f921_2b30_4dfc_ab0e_0e9f2d331cc7_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _b8bde44e_b180_423c_9e3b_32a122375223_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _b8bde44e_b180_423c_9e3b_32a122375223_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _b8bde44e_b180_423c_9e3b_32a122375223_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 

	private string GetAnchor_49fc637b_2aa8_4144_8c89_f5a256dc3cbf_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_b53a699a_11e0_4b86_bb58_039bf50efd89_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_471dd5f2_e5c2_45bc_900f_f3d9e877f12f_Class()
	{
		return "alert alert-info";
	}
	private string _4c48f921_2b30_4dfc_ab0e_0e9f2d331cc7_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _b8bde44e_b180_423c_9e3b_32a122375223_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
