@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<a href="#">
	@(GetAnchor_45b0b300_23d8_451f_84ff_415beac51b4f_Text())
</a>
<div class="@(Get_f56ec682_aa86_4b52_bc47_781c91e111a6_Class())">
	<p>This div is a test!</p>
</div>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_b7e03ad0_7953_439a_9f4e_ce50c45751e2_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<div class="@(Get_8906e437_ea38_439b_92ae_c42aa890e5c0_Class())">
	<p>This div is a test!</p>
</div>
@code { 

	private string GetAnchor_45b0b300_23d8_451f_84ff_415beac51b4f_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_f56ec682_aa86_4b52_bc47_781c91e111a6_Class()
	{
		return "alert alert-info";
	}
	private void _b7e03ad0_7953_439a_9f4e_ce50c45751e2_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_8906e437_ea38_439b_92ae_c42aa890e5c0_Class()
	{
		return "alert alert-info";
	}
} 
