@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_e7c83184_fdae_4218_9729_2f740a4d8ff4_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<div class="@(Get_85fc67c8_9c02_49bd_a6db_ad3f9cd7e71f_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead"> 
				<GridColumns> 
					<a href="#">
						@(GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text())
					</a>
				</GridColumns> 
			</TelerikGrid> 
		</td>
	</tr>
</table>
@code { 

	private void _e7c83184_fdae_4218_9729_2f740a4d8ff4_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_85fc67c8_9c02_49bd_a6db_ad3f9cd7e71f_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_9256389a_75f2_4f35_8133_6b1783fb142e_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _8840ca65_67f7_4c4a_8dd2_2d3c41c20f5c_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
