@using Telerik.Blazor.Components;
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _8a379565_f0fa_4604_ae8e_65bb76673eb8_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_0dce523a_6d01_485c_b551_e250ad4ab786_Class())">
	<a href="#">
		@(GetAnchor_21a5b71b_91d1_4c73_869e_f8761a9afd86_Text())
	</a>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
		<td>
			<div class="@(Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class())">
				<a href="#">
					@(GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text())
				</a>
			</div>
		</td>
	</tr>
</table>
@if (_ac26ce69_1513_472c_a1c3_b0a417f2b5b1_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _ac26ce69_1513_472c_a1c3_b0a417f2b5b1_buttonVisibilityTest = !_ac26ce69_1513_472c_a1c3_b0a417f2b5b1_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _ac26ce69_1513_472c_a1c3_b0a417f2b5b1_buttonVisibilityTest;
	private string _8a379565_f0fa_4604_ae8e_65bb76673eb8_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_21a5b71b_91d1_4c73_869e_f8761a9afd86_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_0dce523a_6d01_485c_b551_e250ad4ab786_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_5aeac591_02de_46f1_a6ea_fe180d609ee4_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_03946a5e_4dee_4af2_a93f_cc3ed81f75e2_Class()
	{
		return "alert alert-info";
	}
} 
