@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
		<td>
			<div class="@(Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class())">
				<p>This div is a test!</p>
			</div>
		</td>
	</tr>
</table>
@if (_7a2f6bd7_15ef_4b3d_b3eb_a7acf3ad567b_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _7a2f6bd7_15ef_4b3d_b3eb_a7acf3ad567b_buttonVisibilityTest = !_7a2f6bd7_15ef_4b3d_b3eb_a7acf3ad567b_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@code { 
	private bool _7a2f6bd7_15ef_4b3d_b3eb_a7acf3ad567b_buttonVisibilityTest;
	private string Get_3d41e2c7_2a08_4f99_9b99_80bbe11da70a_Class()
	{
		return "alert alert-info";
	}
} 
