@using Telerik.Blazor.Components;
<a href="#">
	@(GetAnchor_965472a6_8ed8_4c0b_a135_9e9040b62735_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _021f062f_da96_4f42_a9c1_94ef68e20abd_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _021f062f_da96_4f42_a9c1_94ef68e20abd_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _021f062f_da96_4f42_a9c1_94ef68e20abd_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _021f062f_da96_4f42_a9c1_94ef68e20abd_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _021f062f_da96_4f42_a9c1_94ef68e20abd_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _1433da20_94da_4403_ba58_68c59feda73c_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _1433da20_94da_4403_ba58_68c59feda73c_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _1433da20_94da_4403_ba58_68c59feda73c_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _1433da20_94da_4403_ba58_68c59feda73c_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_d2fe1355_21d6_4fd5_9a52_48020e9ba426_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _d2fe1355_21d6_4fd5_9a52_48020e9ba426_buttonVisibilityTest = !_d2fe1355_21d6_4fd5_9a52_48020e9ba426_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_00fa6987_f7b4_4908_ab8e_15a31c77f001_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@if (_339a13f1_2d75_4be6_8777_6bccaf23ab28_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _339a13f1_2d75_4be6_8777_6bccaf23ab28_buttonVisibilityTest = !_339a13f1_2d75_4be6_8777_6bccaf23ab28_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
	</tr>
</table>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _777933e1_3545_451a_8471_e185580f8e20_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _777933e1_3545_451a_8471_e185580f8e20_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _777933e1_3545_451a_8471_e185580f8e20_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _c8236478_5372_43c4_8982_53f2794a5323_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip1Data = _c8236478_5372_43c4_8982_53f2794a5323_GetTabStripData(); }
				@tabStrip1Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</TabStripTab> 
</TelerikTabStrip> 
@if (_11adada1_1385_4291_b301_7fe6d8099501_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _11adada1_1385_4291_b301_7fe6d8099501_buttonVisibilityTest = !_11adada1_1385_4291_b301_7fe6d8099501_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_e5440d2e_1de9_456b_916f_042d854f1e5c_Text())
</a>
@if (_d8e1b986_cdfa_44b8_88d5_057c60c7f1ee_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _d8e1b986_cdfa_44b8_88d5_057c60c7f1ee_buttonVisibilityTest = !_d8e1b986_cdfa_44b8_88d5_057c60c7f1ee_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_2b2378b8_121e_4a6f_bc0e_5aa15d8b4401_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@code { 
	private bool _b882b9d6_7fa0_476c_a81b_c5856711c1f2_buttonVisibilityTest;
	private bool _d2fe1355_21d6_4fd5_9a52_48020e9ba426_buttonVisibilityTest;
	private bool _339a13f1_2d75_4be6_8777_6bccaf23ab28_buttonVisibilityTest;
	private bool _11adada1_1385_4291_b301_7fe6d8099501_buttonVisibilityTest;
	private bool _d8e1b986_cdfa_44b8_88d5_057c60c7f1ee_buttonVisibilityTest;
	private string GetAnchor_965472a6_8ed8_4c0b_a135_9e9040b62735_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _021f062f_da96_4f42_a9c1_94ef68e20abd_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _1433da20_94da_4403_ba58_68c59feda73c_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _00fa6987_f7b4_4908_ab8e_15a31c77f001_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _c8236478_5372_43c4_8982_53f2794a5323_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _777933e1_3545_451a_8471_e185580f8e20_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_e5440d2e_1de9_456b_916f_042d854f1e5c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _2b2378b8_121e_4a6f_bc0e_5aa15d8b4401_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
