@using Telerik.Blazor.Components;
<div class="@(Get_e8a1bbdc_407b_47d5_8d05_2b2de6ef2eb1_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _ea75f5a6_0fd5_409f_9718_1a284259f85f_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _ea75f5a6_0fd5_409f_9718_1a284259f85f_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _ea75f5a6_0fd5_409f_9718_1a284259f85f_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
	</tr>
</table>
@if (_4e31c74d_de2c_4b32_bb91_eb246b762db4_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _4e31c74d_de2c_4b32_bb91_eb246b762db4_buttonVisibilityTest = !_4e31c74d_de2c_4b32_bb91_eb246b762db4_buttonVisibilityTest"> 
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _c2cbcb9e_2b0d_4614_aef4_f7d8568aa4a6_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip1Data = _c2cbcb9e_2b0d_4614_aef4_f7d8568aa4a6_GetTabStripData(); }
				@tabStrip1Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip2Data = _c2cbcb9e_2b0d_4614_aef4_f7d8568aa4a6_GetTabStripData(); }
				@tabStrip2Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</TelerikButton> 
}
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _b84a3889_111b_4b10_ab16_2562ad3dcea6_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _b84a3889_111b_4b10_ab16_2562ad3dcea6_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _b84a3889_111b_4b10_ab16_2562ad3dcea6_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col5Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
		<td>
			Col5Row5
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_59fffbeb_4172_4052_813b_8822366141d9_Text())
	<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_45cd38fd_a74b_42a9_b6bb_329f61fa7100_GridOnRead"> 
		<GridColumns> 
			@if (_7c408137_950e_4a26_84b4_47f5ace1b8bf_buttonVisibilityTest) 
			{
				<TelerikButton OnClick="() => _7c408137_950e_4a26_84b4_47f5ace1b8bf_buttonVisibilityTest = !_7c408137_950e_4a26_84b4_47f5ace1b8bf_buttonVisibilityTest"> 
					This is a test button! 
				</TelerikButton> 
			}
		</GridColumns> 
	</TelerikGrid> 
</a>
@if (_a117cd4f_9e45_413d_bcd8_a511bb1cb42a_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _a117cd4f_9e45_413d_bcd8_a511bb1cb42a_buttonVisibilityTest = !_a117cd4f_9e45_413d_bcd8_a511bb1cb42a_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_5cac242f_b1a0_4dcb_ba7c_8925306ff13b_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@code { 
	private bool _4e31c74d_de2c_4b32_bb91_eb246b762db4_buttonVisibilityTest;
	private bool _7c408137_950e_4a26_84b4_47f5ace1b8bf_buttonVisibilityTest;
	private bool _a117cd4f_9e45_413d_bcd8_a511bb1cb42a_buttonVisibilityTest;
	private string Get_e8a1bbdc_407b_47d5_8d05_2b2de6ef2eb1_Class()
	{
		return "alert alert-info";
	}
	private string _ea75f5a6_0fd5_409f_9718_1a284259f85f_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _c2cbcb9e_2b0d_4614_aef4_f7d8568aa4a6_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _b84a3889_111b_4b10_ab16_2562ad3dcea6_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _45cd38fd_a74b_42a9_b6bb_329f61fa7100_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_59fffbeb_4172_4052_813b_8822366141d9_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _5cac242f_b1a0_4dcb_ba7c_8925306ff13b_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
