@using Telerik.Blazor.Components;
<div class="@(Get_0ad4d7be_f1c8_43d1_8535_5169ebdb61e0_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_5f81234a_f8a0_469a_950d_b9ba8437b2ce_Text())
	<a href="#">
		@(GetAnchor_96942b9e_f22b_4b81_b707_62ac6848c2b6_Text())
		<button>
			This is a test button! 
		</button>
	</a>
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _81a2ea29_f635_44f1_8a8f_4fab39c550f2_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_ea78c531_d750_4c4d_9dd6_4a06427dcdee_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@if (_389f6259_6435_464f_ab57_b101235f7db2_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _389f6259_6435_464f_ab57_b101235f7db2_buttonVisibilityTest = !_389f6259_6435_464f_ab57_b101235f7db2_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_cfe4a016_dfe1_4723_803c_92e36fc4828a_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _cfe4a016_dfe1_4723_803c_92e36fc4828a_buttonVisibilityTest = !_cfe4a016_dfe1_4723_803c_92e36fc4828a_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
	</tr>
</table>
@code { 
	private bool _389f6259_6435_464f_ab57_b101235f7db2_buttonVisibilityTest;
	private bool _cfe4a016_dfe1_4723_803c_92e36fc4828a_buttonVisibilityTest;
	private string Get_0ad4d7be_f1c8_43d1_8535_5169ebdb61e0_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_96942b9e_f22b_4b81_b707_62ac6848c2b6_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_5f81234a_f8a0_469a_950d_b9ba8437b2ce_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _81a2ea29_f635_44f1_8a8f_4fab39c550f2_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _ea78c531_d750_4c4d_9dd6_4a06427dcdee_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
