@using Telerik.Blazor.Components;
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_b494eb1d_cebc_468b_954b_4330b6b6e28b_GridOnRead"> 
	<GridColumns> 
		@if (_07d853f6_e838_409a_a815_92fe2971df8e_buttonVisibilityTest) 
		{
			<TelerikButton OnClick="() => _07d853f6_e838_409a_a815_92fe2971df8e_buttonVisibilityTest = !_07d853f6_e838_409a_a815_92fe2971df8e_buttonVisibilityTest"> 
				This is a test button! 
			</TelerikButton> 
		}
	</GridColumns> 
</TelerikGrid> 
<a href="#">
	@(GetAnchor_0f87f5f5_3787_4886_92bb_8c018a7fc942_Text())
</a>
@if (_5ab39d42_c98a_484b_a124_a92ad060bbee_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _5ab39d42_c98a_484b_a124_a92ad060bbee_buttonVisibilityTest = !_5ab39d42_c98a_484b_a124_a92ad060bbee_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_d9f8ebc4_76f6_4e1a_9b42_63413c25b352_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
		<td>
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</td>
	</tr>
</table>
<button>
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
			<th>
				Test Header 3
			</th>
			<th>
				Test Header 4
			</th>
		</tr>
		<tr>
			<td>
				Col1Row1
			</td>
			<td>
				Col2Row1
			</td>
			<td>
				Col3Row1
			</td>
			<td>
				Col4Row1
			</td>
			<td>
				Col1Row2
			</td>
			<td>
				Col2Row2
			</td>
			<td>
				Col3Row2
			</td>
			<td>
				Col4Row2
			</td>
			<td>
				Col1Row3
			</td>
			<td>
				Col2Row3
			</td>
			<td>
				Col3Row3
			</td>
			<td>
				Col4Row3
			</td>
		</tr>
	</table>
</button>
<div class="@(Get_871e0773_5f4a_4dbc_be62_29e4f6cc566e_Class())">
	<p>This div is a test!</p>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _7cf2b16e_da90_4fd9_b79a_ba2038c4ac48_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _7cf2b16e_da90_4fd9_b79a_ba2038c4ac48_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
@if (_f353259a_d7fa_4ba5_83dc_d8a5ac34896e_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _f353259a_d7fa_4ba5_83dc_d8a5ac34896e_buttonVisibilityTest = !_f353259a_d7fa_4ba5_83dc_d8a5ac34896e_buttonVisibilityTest"> 
		@if (_a53056e5_fbd6_48d0_b3ec_f4a6fe24d630_buttonVisibilityTest) 
		{
			<TelerikButton OnClick="() => _a53056e5_fbd6_48d0_b3ec_f4a6fe24d630_buttonVisibilityTest = !_a53056e5_fbd6_48d0_b3ec_f4a6fe24d630_buttonVisibilityTest"> 
				This is a test button! 
			</TelerikButton> 
		}
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _eda58622_d7bb_4739_a16d_71cb2eaa33fc_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _eda58622_d7bb_4739_a16d_71cb2eaa33fc_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _eda58622_d7bb_4739_a16d_71cb2eaa33fc_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
	</tr>
</table>
@code { 
	private bool _07d853f6_e838_409a_a815_92fe2971df8e_buttonVisibilityTest;
	private bool _5ab39d42_c98a_484b_a124_a92ad060bbee_buttonVisibilityTest;
	private bool _a53056e5_fbd6_48d0_b3ec_f4a6fe24d630_buttonVisibilityTest;
	private bool _f353259a_d7fa_4ba5_83dc_d8a5ac34896e_buttonVisibilityTest;
	private bool _5c17cca7_d910_4c8f_9884_b56d0220f336_buttonVisibilityTest;
	private void _b494eb1d_cebc_468b_954b_4330b6b6e28b_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_0f87f5f5_3787_4886_92bb_8c018a7fc942_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_d9f8ebc4_76f6_4e1a_9b42_63413c25b352_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _c01c4d3c_df34_49b7_bb2a_af7a3acf22bc_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_871e0773_5f4a_4dbc_be62_29e4f6cc566e_Class()
	{
		return "alert alert-info";
	}
	private string _7cf2b16e_da90_4fd9_b79a_ba2038c4ac48_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _eda58622_d7bb_4739_a16d_71cb2eaa33fc_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
