
<div class="@(Get_631dc466_4ce3_4ad7_98dc_6106789b2844_Class())">
	<p>This div is a test!</p>
</div>
<a href="#">
	@(GetAnchor_6880ae03_5207_4dd8_89d7_dde44ce82854_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
	</tr>
</table>
<div class="@(Get_9c127158_c343_432c_acd9_fd3c8f6d7cd2_Class())">
	<div class="@(Get_f9819ab0_74d6_45af_a721_9b71489df26a_Class())">
		<p>This div is a test!</p>
	</div>
</div>
<a href="#">
	@(GetAnchor_f2c5b9b3_d2bb_4081_b72d_e5a832e4e14c_Text())
	<button>
		This is a test button! 
	</button>
</a>
@code { 

	private string Get_631dc466_4ce3_4ad7_98dc_6106789b2844_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_6880ae03_5207_4dd8_89d7_dde44ce82854_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_f9819ab0_74d6_45af_a721_9b71489df26a_Class()
	{
		return "alert alert-info";
	}
	private string Get_9c127158_c343_432c_acd9_fd3c8f6d7cd2_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_f2c5b9b3_d2bb_4081_b72d_e5a832e4e14c_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
