@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col5Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col5Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col5Row3
		</td>
	</tr>
</table>
@if (_2caa2e18_93b4_4a94_aa00_0ae9bcda0082_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _2caa2e18_93b4_4a94_aa00_0ae9bcda0082_buttonVisibilityTest = !_2caa2e18_93b4_4a94_aa00_0ae9bcda0082_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _dfb3af07_c246_4861_862e_ad78508b2990_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_c8fb4d02_cc3d_4e99_a826_86059e247177_Class())">
	<p>This div is a test!</p>
</div>
<div class="@(Get_fe580665_3485_476e_9749_28b30ef862d5_Class())">
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
			<th>
				Test Header 3
			</th>
		</tr>
		<tr>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest = !_032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text())
							<button>
								This is a test button! 
							</button>
						</a>
					</TelerikButton> 
				}
			</td>
		</tr>
	</table>
</div>
<button>
	<div class="@(Get_71386acd_170b_46d8_90ce_17acd58a9a08_Class())">
		<p>This div is a test!</p>
	</div>
</button>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_e4372cb2_d5b5_43d7_a31d_3aa7e0ab2caa_GridOnRead"> 
	<GridColumns> 
		<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_a7f82563_7cd6_41dd_ac84_a6556cc240f5_GridOnRead"> 
			<GridColumns> 
				<GridColumn Field="Item1" Title="TestColumn1"/> 
				<GridColumn Field="Item2" Title="TestColumn2"/> 
			</GridColumns> 
		</TelerikGrid> 
	</GridColumns> 
</TelerikGrid> 
@code { 
	private bool _2caa2e18_93b4_4a94_aa00_0ae9bcda0082_buttonVisibilityTest;
	private bool _032c171a_deaf_443f_b41f_e1952e47b62c_buttonVisibilityTest;
	private string _dfb3af07_c246_4861_862e_ad78508b2990_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_c8fb4d02_cc3d_4e99_a826_86059e247177_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_57e70543_f5b0_4fcf_86c1_e369d385e9d9_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_fe580665_3485_476e_9749_28b30ef862d5_Class()
	{
		return "alert alert-info";
	}
	private string Get_71386acd_170b_46d8_90ce_17acd58a9a08_Class()
	{
		return "alert alert-info";
	}
	private void _a7f82563_7cd6_41dd_ac84_a6556cc240f5_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _e4372cb2_d5b5_43d7_a31d_3aa7e0ab2caa_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
