@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
		<th>
			Test Header 5
		</th>
	</tr>
	<tr>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text())
			</a>
		</td>
	</tr>
</table>
<a href="#">
	@(GetAnchor_4968169a_6d64_4fee_bb01_68dec9fb7199_Text())
</a>
<a href="#">
	@(GetAnchor_21d865c5_edc2_41c6_b893_70b2fe71d642_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _3ef90a8c_3ab4_46f8_8ed2_32d9d73e4cc9_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _3ef90a8c_3ab4_46f8_8ed2_32d9d73e4cc9_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _3ef90a8c_3ab4_46f8_8ed2_32d9d73e4cc9_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		<TelerikTabStrip> 
			<TabStripTab> 
				@{ var tabStrip0Data = _6b3799e4_55db_40fe_81ff_3f33d4f64e0c_GetTabStripData(); }
				@tabStrip0Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip1Data = _6b3799e4_55db_40fe_81ff_3f33d4f64e0c_GetTabStripData(); }
				@tabStrip1Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip2Data = _6b3799e4_55db_40fe_81ff_3f33d4f64e0c_GetTabStripData(); }
				@tabStrip2Data
			</TabStripTab> 
			<TabStripTab> 
				@{ var tabStrip3Data = _6b3799e4_55db_40fe_81ff_3f33d4f64e0c_GetTabStripData(); }
				@tabStrip3Data
			</TabStripTab> 
		</TelerikTabStrip> 
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _3ef90a8c_3ab4_46f8_8ed2_32d9d73e4cc9_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _a5b0b074_2a1a_48d3_8636_98ded3790809_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<a href="#">
	@(GetAnchor_3e4974ed_7124_45ff_ae4a_6386f806361a_Text())
	<div class="@(Get_f9881d3f_fa68_448f_b10f_85a7a2431634_Class())">
		<button>
			This is a test button! 
		</button>
	</div>
</a>
@if (_921c2a09_7c9d_4526_a331_8168a2ea4dd7_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _921c2a09_7c9d_4526_a331_8168a2ea4dd7_buttonVisibilityTest = !_921c2a09_7c9d_4526_a331_8168a2ea4dd7_buttonVisibilityTest"> 
		<table>
			<tr>
				<th>
					Test Header 1
				</th>
				<th>
					Test Header 2
				</th>
				<th>
					Test Header 3
				</th>
			</tr>
			<tr>
				<td>
					Col1Row1
				</td>
				<td>
					Col2Row1
				</td>
				<td>
					Col3Row1
				</td>
				<td>
					Col1Row2
				</td>
				<td>
					Col2Row2
				</td>
				<td>
					Col3Row2
				</td>
			</tr>
		</table>
	</TelerikButton> 
}
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
	</tr>
</table>
@code { 
	private bool _921c2a09_7c9d_4526_a331_8168a2ea4dd7_buttonVisibilityTest;
	private string GetAnchor_ea47b51a_7391_4a47_ae64_77ed641f71ad_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_4968169a_6d64_4fee_bb01_68dec9fb7199_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_21d865c5_edc2_41c6_b893_70b2fe71d642_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _6b3799e4_55db_40fe_81ff_3f33d4f64e0c_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _3ef90a8c_3ab4_46f8_8ed2_32d9d73e4cc9_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _a5b0b074_2a1a_48d3_8636_98ded3790809_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_f9881d3f_fa68_448f_b10f_85a7a2431634_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_3e4974ed_7124_45ff_ae4a_6386f806361a_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
