@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
@if (_6ac42c8a_ea97_44fd_ab58_67c39101fa5c_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _6ac42c8a_ea97_44fd_ab58_67c39101fa5c_buttonVisibilityTest = !_6ac42c8a_ea97_44fd_ab58_67c39101fa5c_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_081eed8f_6b88_45fd_84de_3f4c68cf34c0_Text())
</a>
<a href="#">
	@(GetAnchor_8800f5fe_ee3f_4a09_a7b0_6732866ce85b_Text())
</a>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _50de1bcc_49f8_4e7b_bb59_3d9e75a74594_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8ae0020d_724a_4014_a827_904e4227f574_GridOnRead"> 
				<GridColumns> 
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
							<th>
								Test Header 3
							</th>
							<th>
								Test Header 4
							</th>
							<th>
								Test Header 5
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col3Row1
							</td>
							<td>
								Col4Row1
							</td>
							<td>
								Col5Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col3Row2
							</td>
							<td>
								Col4Row2
							</td>
							<td>
								Col5Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
							<td>
								Col3Row3
							</td>
							<td>
								Col4Row3
							</td>
							<td>
								Col5Row3
							</td>
						</tr>
					</table>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8ae0020d_724a_4014_a827_904e4227f574_GridOnRead"> 
				<GridColumns> 
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
							<th>
								Test Header 3
							</th>
							<th>
								Test Header 4
							</th>
							<th>
								Test Header 5
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col3Row1
							</td>
							<td>
								Col4Row1
							</td>
							<td>
								Col5Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col3Row2
							</td>
							<td>
								Col4Row2
							</td>
							<td>
								Col5Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
							<td>
								Col3Row3
							</td>
							<td>
								Col4Row3
							</td>
							<td>
								Col5Row3
							</td>
						</tr>
					</table>
				</GridColumns> 
			</TelerikGrid> 
		</td>
		<td>
			<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_8ae0020d_724a_4014_a827_904e4227f574_GridOnRead"> 
				<GridColumns> 
					<table>
						<tr>
							<th>
								Test Header 1
							</th>
							<th>
								Test Header 2
							</th>
							<th>
								Test Header 3
							</th>
							<th>
								Test Header 4
							</th>
							<th>
								Test Header 5
							</th>
						</tr>
						<tr>
							<td>
								Col1Row1
							</td>
							<td>
								Col2Row1
							</td>
							<td>
								Col3Row1
							</td>
							<td>
								Col4Row1
							</td>
							<td>
								Col5Row1
							</td>
							<td>
								Col1Row2
							</td>
							<td>
								Col2Row2
							</td>
							<td>
								Col3Row2
							</td>
							<td>
								Col4Row2
							</td>
							<td>
								Col5Row2
							</td>
							<td>
								Col1Row3
							</td>
							<td>
								Col2Row3
							</td>
							<td>
								Col3Row3
							</td>
							<td>
								Col4Row3
							</td>
							<td>
								Col5Row3
							</td>
						</tr>
					</table>
				</GridColumns> 
			</TelerikGrid> 
		</td>
	</tr>
</table>
<button>
	This is a test button! 
</button>
@code { 
	private bool _6ac42c8a_ea97_44fd_ab58_67c39101fa5c_buttonVisibilityTest;
	private string GetAnchor_081eed8f_6b88_45fd_84de_3f4c68cf34c0_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_8800f5fe_ee3f_4a09_a7b0_6732866ce85b_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _50de1bcc_49f8_4e7b_bb59_3d9e75a74594_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private void _8ae0020d_724a_4014_a827_904e4227f574_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
} 
