@using Telerik.Blazor.Components;
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col4Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col4Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
		<td>
			Col4Row5
		</td>
	</tr>
</table>
<div class="@(Get_d270266e_d66f_4413_abed_b95d8eeca8dc_Class())">
	@if (_14d5d6e6_3cd0_4bbb_84b4_2b08052a0764_buttonVisibilityTest) 
	{
		<TelerikButton OnClick="() => _14d5d6e6_3cd0_4bbb_84b4_2b08052a0764_buttonVisibilityTest = !_14d5d6e6_3cd0_4bbb_84b4_2b08052a0764_buttonVisibilityTest"> 
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _b0fd592a_6b49_4dc8_85f0_4be1025e4ec5_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _b0fd592a_6b49_4dc8_85f0_4be1025e4ec5_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _b0fd592a_6b49_4dc8_85f0_4be1025e4ec5_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip3Data = _b0fd592a_6b49_4dc8_85f0_4be1025e4ec5_GetTabStripData(); }
					@tabStrip3Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</TelerikButton> 
	}
</div>
<div class="@(Get_cead7ac1_a62f_4ead_a0e6_f09246184fc1_Class())">
	<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_ae074ade_4ae8_4ffd_824e_9ae24095b3dc_GridOnRead"> 
		<GridColumns> 
			<GridColumn Field="Item1" Title="TestColumn1"/> 
			<GridColumn Field="Item2" Title="TestColumn2"/> 
		</GridColumns> 
	</TelerikGrid> 
</div>
@if (_6f1b2b0f_4ceb_436b_9b90_b995467a4081_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _6f1b2b0f_4ceb_436b_9b90_b995467a4081_buttonVisibilityTest = !_6f1b2b0f_4ceb_436b_9b90_b995467a4081_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_c5af9cf3_8184_4173_a1c8_6786d7c6db3b_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@if (_d21518ba_e4c1_439c_b59a_5d0e6300d98b_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _d21518ba_e4c1_439c_b59a_5d0e6300d98b_buttonVisibilityTest = !_d21518ba_e4c1_439c_b59a_5d0e6300d98b_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
@if (_bc820033_baa9_44b6_bf5d_74ed24399ad4_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _bc820033_baa9_44b6_bf5d_74ed24399ad4_buttonVisibilityTest = !_bc820033_baa9_44b6_bf5d_74ed24399ad4_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<a href="#">
	@(GetAnchor_573e09a0_32e0_4aeb_9ae1_b9f940f96d5d_Text())
</a>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_4cd9ea1a_61d3_41b6_800d_fb5771b4f236_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _9d2bfd49_4cc7_49eb_9a60_ab45f9aa839f_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _9d2bfd49_4cc7_49eb_9a60_ab45f9aa839f_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
</TelerikTabStrip> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _211bda9d_a054_4e54_a1e9_0a3fa2cb1057_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _211bda9d_a054_4e54_a1e9_0a3fa2cb1057_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _211bda9d_a054_4e54_a1e9_0a3fa2cb1057_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip3Data = _211bda9d_a054_4e54_a1e9_0a3fa2cb1057_GetTabStripData(); }
		@tabStrip3Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip4Data = _211bda9d_a054_4e54_a1e9_0a3fa2cb1057_GetTabStripData(); }
		@tabStrip4Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_a3b6f894_0dbf_4d01_b2d2_46335fe26f7b_Class())">
	@if (_2833b1bd_caa2_4ddf_9c83_eb6ddec62456_buttonVisibilityTest) 
	{
		<TelerikButton OnClick="() => _2833b1bd_caa2_4ddf_9c83_eb6ddec62456_buttonVisibilityTest = !_2833b1bd_caa2_4ddf_9c83_eb6ddec62456_buttonVisibilityTest"> 
			This is a test button! 
		</TelerikButton> 
	}
</div>
@code { 
	private bool _14d5d6e6_3cd0_4bbb_84b4_2b08052a0764_buttonVisibilityTest;
	private bool _6f1b2b0f_4ceb_436b_9b90_b995467a4081_buttonVisibilityTest;
	private bool _d21518ba_e4c1_439c_b59a_5d0e6300d98b_buttonVisibilityTest;
	private bool _bc820033_baa9_44b6_bf5d_74ed24399ad4_buttonVisibilityTest;
	private bool _2833b1bd_caa2_4ddf_9c83_eb6ddec62456_buttonVisibilityTest;
	private string _b0fd592a_6b49_4dc8_85f0_4be1025e4ec5_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_d270266e_d66f_4413_abed_b95d8eeca8dc_Class()
	{
		return "alert alert-info";
	}
	private void _ae074ade_4ae8_4ffd_824e_9ae24095b3dc_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_cead7ac1_a62f_4ead_a0e6_f09246184fc1_Class()
	{
		return "alert alert-info";
	}
	private void _c5af9cf3_8184_4173_a1c8_6786d7c6db3b_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_573e09a0_32e0_4aeb_9ae1_b9f940f96d5d_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _4cd9ea1a_61d3_41b6_800d_fb5771b4f236_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string GetAnchor_8100ab84_03af_4140_ace3_10d5d62b0657_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string _9d2bfd49_4cc7_49eb_9a60_ab45f9aa839f_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string _211bda9d_a054_4e54_a1e9_0a3fa2cb1057_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_a3b6f894_0dbf_4d01_b2d2_46335fe26f7b_Class()
	{
		return "alert alert-info";
	}
} 
