@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _058a9649_c127_45c1_9b15_ac81bb3a2b61_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
</TelerikTabStrip> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col1Row5
		</td>
	</tr>
</table>
<div class="@(Get_8b189bb9_e41a_4a52_aebf_0e9599f56835_Class())">
	<p>This div is a test!</p>
</div>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
		<th>
			Test Header 4
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col4Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col4Row2
		</td>
	</tr>
</table>
<div class="@(Get_f5e28d89_fd97_4e9c_886a_9285adc96196_Class())">
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
			<th>
				Test Header 2
			</th>
			<th>
				Test Header 3
			</th>
			<th>
				Test Header 4
			</th>
			<th>
				Test Header 5
			</th>
		</tr>
		<tr>
			<td>
				@if (_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest = !_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_62a54ad9_8748_40c8_9298_42c452a394ca_Text())
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest = !_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_62a54ad9_8748_40c8_9298_42c452a394ca_Text())
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest = !_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_62a54ad9_8748_40c8_9298_42c452a394ca_Text())
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest = !_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_62a54ad9_8748_40c8_9298_42c452a394ca_Text())
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest = !_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_62a54ad9_8748_40c8_9298_42c452a394ca_Text())
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest = !_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_62a54ad9_8748_40c8_9298_42c452a394ca_Text())
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest = !_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_62a54ad9_8748_40c8_9298_42c452a394ca_Text())
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest = !_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_62a54ad9_8748_40c8_9298_42c452a394ca_Text())
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest = !_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_62a54ad9_8748_40c8_9298_42c452a394ca_Text())
						</a>
					</TelerikButton> 
				}
			</td>
			<td>
				@if (_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest) 
				{
					<TelerikButton OnClick="() => _9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest = !_9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest"> 
						<a href="#">
							@(GetAnchor_62a54ad9_8748_40c8_9298_42c452a394ca_Text())
						</a>
					</TelerikButton> 
				}
			</td>
		</tr>
	</table>
</div>
<a href="#">
	@(GetAnchor_1730d8ba_6d7e_492a_9e7d_2f267e56d90c_Text())
</a>
<button>
	This is a test button! 
</button>
<div class="@(Get_e59c2103_f6e5_4811_97e7_7d62db7a050f_Class())">
	<p>This div is a test!</p>
</div>
@code { 
	private bool _9ef62c06_c0d1_4b4c_9024_5385f1e6c747_buttonVisibilityTest;
	private void _860e3a32_9256_46a6_be4d_ed6bf80490ef_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _058a9649_c127_45c1_9b15_ac81bb3a2b61_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_8b189bb9_e41a_4a52_aebf_0e9599f56835_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_62a54ad9_8748_40c8_9298_42c452a394ca_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_f5e28d89_fd97_4e9c_886a_9285adc96196_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_1730d8ba_6d7e_492a_9e7d_2f267e56d90c_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string Get_e59c2103_f6e5_4811_97e7_7d62db7a050f_Class()
	{
		return "alert alert-info";
	}
} 
