@using Telerik.Blazor.Components;
<button>
	This is a test button! 
</button>
@if (_add6615d_5959_453f_a59f_133471a54224_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _add6615d_5959_453f_a59f_133471a54224_buttonVisibilityTest = !_add6615d_5959_453f_a59f_133471a54224_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<button>
	This is a test button! 
</button>
<div class="@(Get_0b025923_bd5f_445b_bb43_9b8f99bca1fb_Class())">
	<table>
		<tr>
			<th>
				Test Header 1
			</th>
		</tr>
		<tr>
			<td>
				Col1Row1
			</td>
			<td>
				Col1Row2
			</td>
		</tr>
	</table>
</div>
<a href="#">
	@(GetAnchor_b1a1284a_1d7a_47e0_a036_202b18afe150_Text())
</a>
<a href="#">
	@(GetAnchor_3ec025f6_104d_4d7a_8443_0d217ee9545a_Text())
</a>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
	</tr>
	<tr>
		<td>
			<a href="#">
				@(GetAnchor_9223b6ec_2bdd_4c40_9236_0dff80929316_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_9223b6ec_2bdd_4c40_9236_0dff80929316_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_9223b6ec_2bdd_4c40_9236_0dff80929316_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_9223b6ec_2bdd_4c40_9236_0dff80929316_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_9223b6ec_2bdd_4c40_9236_0dff80929316_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_9223b6ec_2bdd_4c40_9236_0dff80929316_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_9223b6ec_2bdd_4c40_9236_0dff80929316_Text())
			</a>
		</td>
		<td>
			<a href="#">
				@(GetAnchor_9223b6ec_2bdd_4c40_9236_0dff80929316_Text())
			</a>
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
	</tr>
</table>
<table>
	<tr>
		<th>
			Test Header 1
		</th>
	</tr>
	<tr>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
		<td>
			<button>
				This is a test button! 
			</button>
		</td>
	</tr>
</table>
@code { 
	private bool _add6615d_5959_453f_a59f_133471a54224_buttonVisibilityTest;
	private string Get_0b025923_bd5f_445b_bb43_9b8f99bca1fb_Class()
	{
		return "alert alert-info";
	}
	private string GetAnchor_b1a1284a_1d7a_47e0_a036_202b18afe150_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_3ec025f6_104d_4d7a_8443_0d217ee9545a_Text()
	{
		return "This Anchor element is a Test!";
	}
	private string GetAnchor_9223b6ec_2bdd_4c40_9236_0dff80929316_Text()
	{
		return "This Anchor element is a Test!";
	}
} 
