@using Telerik.Blazor.Components;
@if (_14185587_f3b4_47ad_b79a_1a92ed84e600_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _14185587_f3b4_47ad_b79a_1a92ed84e600_buttonVisibilityTest = !_14185587_f3b4_47ad_b79a_1a92ed84e600_buttonVisibilityTest"> 
		<a href="#">
			@(GetAnchor_db473a25_0664_437d_88b7_c2feec26272a_Text())
			<TelerikTabStrip> 
				<TabStripTab> 
					@{ var tabStrip0Data = _13e13b2a_ba7c_4635_ad7e_f3ba9b70fa95_GetTabStripData(); }
					@tabStrip0Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip1Data = _13e13b2a_ba7c_4635_ad7e_f3ba9b70fa95_GetTabStripData(); }
					@tabStrip1Data
				</TabStripTab> 
				<TabStripTab> 
					@{ var tabStrip2Data = _13e13b2a_ba7c_4635_ad7e_f3ba9b70fa95_GetTabStripData(); }
					@tabStrip2Data
				</TabStripTab> 
			</TelerikTabStrip> 
		</a>
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_6980827f_a1c6_4520_bfe0_4f42ff5c55c5_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<table>
	<tr>
		<th>
			Test Header 1
		</th>
		<th>
			Test Header 2
		</th>
		<th>
			Test Header 3
		</th>
	</tr>
	<tr>
		<td>
			Col1Row1
		</td>
		<td>
			Col2Row1
		</td>
		<td>
			Col3Row1
		</td>
		<td>
			Col1Row2
		</td>
		<td>
			Col2Row2
		</td>
		<td>
			Col3Row2
		</td>
		<td>
			Col1Row3
		</td>
		<td>
			Col2Row3
		</td>
		<td>
			Col3Row3
		</td>
		<td>
			Col1Row4
		</td>
		<td>
			Col2Row4
		</td>
		<td>
			Col3Row4
		</td>
		<td>
			Col1Row5
		</td>
		<td>
			Col2Row5
		</td>
		<td>
			Col3Row5
		</td>
	</tr>
</table>
<div class="@(Get_5d5e6344_c2c8_4fc3_b9d4_fb71474f5648_Class())">
	<p>This div is a test!</p>
</div>
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_fe13d9b3_7d46_4879_bff1_f15d4c52e547_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
@if (_1731ec1b_2b9c_43ad_8bda_3fd0e99d2c60_buttonVisibilityTest) 
{
	<TelerikButton OnClick="() => _1731ec1b_2b9c_43ad_8bda_3fd0e99d2c60_buttonVisibilityTest = !_1731ec1b_2b9c_43ad_8bda_3fd0e99d2c60_buttonVisibilityTest"> 
		This is a test button! 
	</TelerikButton> 
}
<TelerikGrid Pageable="@true" Sortable="@true" TItem="Tuple<string, string>" OnRead="@_f52e45d2_2b8e_4772_8ff9_431f60fc2e74_GridOnRead"> 
	<GridColumns> 
		<GridColumn Field="Item1" Title="TestColumn1"/> 
		<GridColumn Field="Item2" Title="TestColumn2"/> 
	</GridColumns> 
</TelerikGrid> 
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _44d94e21_2f8e_4fe4_997c_b5c7f4df5d8d_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _44d94e21_2f8e_4fe4_997c_b5c7f4df5d8d_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _44d94e21_2f8e_4fe4_997c_b5c7f4df5d8d_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
<div class="@(Get_378e3215_f9e0_4692_a007_4c836a5ed452_Class())">
	<div class="@(Get_6a388810_cc5f_4cf0_9d85_e7c9e969e501_Class())">
		<div class="@(Get_2b7acfbe_a0c2_4ef1_b797_a68daa25180a_Class())">
			<p>This div is a test!</p>
		</div>
	</div>
</div>
<TelerikTabStrip> 
	<TabStripTab> 
		@{ var tabStrip0Data = _e290214e_1977_4ae5_9126_1e3782e4eda1_GetTabStripData(); }
		@tabStrip0Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip1Data = _e290214e_1977_4ae5_9126_1e3782e4eda1_GetTabStripData(); }
		@tabStrip1Data
	</TabStripTab> 
	<TabStripTab> 
		@{ var tabStrip2Data = _e290214e_1977_4ae5_9126_1e3782e4eda1_GetTabStripData(); }
		@tabStrip2Data
	</TabStripTab> 
</TelerikTabStrip> 
@code { 
	private bool _14185587_f3b4_47ad_b79a_1a92ed84e600_buttonVisibilityTest;
	private bool _1731ec1b_2b9c_43ad_8bda_3fd0e99d2c60_buttonVisibilityTest;
	private string _13e13b2a_ba7c_4635_ad7e_f3ba9b70fa95_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string GetAnchor_db473a25_0664_437d_88b7_c2feec26272a_Text()
	{
		return "This Anchor element is a Test!";
	}
	private void _6980827f_a1c6_4520_bfe0_4f42ff5c55c5_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string Get_5d5e6344_c2c8_4fc3_b9d4_fb71474f5648_Class()
	{
		return "alert alert-info";
	}
	private void _fe13d9b3_7d46_4879_bff1_f15d4c52e547_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private void _f52e45d2_2b8e_4772_8ff9_431f60fc2e74_GridOnRead(GridReadEventArgs args)
	{
		List<Tuple<string, string>> data = new()
		{
			new Tuple<string, string>("TestVal1", "TestVal2"),
			new Tuple<string, string>("TestVal3", "TestVal4"),
			new Tuple<string, string>("TestVal5", "TestVal6"),
			new Tuple<string, string>("TestVal7", "TestVal8")
		};
		args.Data = data;
		args.Total = data.Count;
	}
	private string _44d94e21_2f8e_4fe4_997c_b5c7f4df5d8d_GetTabStripData()
	{
		return "Tab strip content!";
	}
	private string Get_2b7acfbe_a0c2_4ef1_b797_a68daa25180a_Class()
	{
		return "alert alert-info";
	}
	private string Get_6a388810_cc5f_4cf0_9d85_e7c9e969e501_Class()
	{
		return "alert alert-info";
	}
	private string Get_378e3215_f9e0_4692_a007_4c836a5ed452_Class()
	{
		return "alert alert-info";
	}
	private string _e290214e_1977_4ae5_9126_1e3782e4eda1_GetTabStripData()
	{
		return "Tab strip content!";
	}
} 
